/*
* @Author: egmfilho
* @Date:   2017-06-19 08:58:03
* @Last Modified by:   egmfilho
* @Last Modified time: 2017-06-19 08:58:17
*/

.after-login {
	.cover {
		width: 100%;
		height: 100%;
		position: absolute;
		background-color: $main-color;
		z-index: 1;
		opacity: .5;
	}

	.picture {
		width: 100%;
		height: 100%;
		position: absolute;
		background-image: url('../images/login-background.jpg');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		z-index: 0;
	}
}