/*
 * @Author: egmfilho <egmfilho@live.com>
 * @Date:   2017-07-25 13:54:12
 * @Last Modified by: egmfilho
 * @Last Modified time: 2017-10-20 17:03:40
 */

.config {
	md-tabs {
		border-radius: 0;
	}

	.side-menu {
		background-color: white;
		padding-top: 60px;
		position: relative;
		z-index: 2;

		button {
			text-align: left;
			padding-left: 30px;
			padding-right: 30px;

			i.fa {
				margin-right: 10px;
			}
		}
	}

	.content {
		.form-container {
			padding: 16px;

			.form {
				background-color: white;
				padding: 16px;
				// margin: 16px;

				.title {
					margin: -16px;
					margin-bottom: 16px;
					background-color: $main-color-light;
					font-size: 20px;
					color: white;
					padding: 10px 16px;
				}
			}
		}
	}

	@import "config/users";
	@import "config/connections";
	@import "config/general";
}