/*
* @Author: egmfilho
* @Date:   2017-05-31 13:43:28
* @Last Modified by:   egmfilho
* @Last Modified time: 2017-06-29 13:04:50
*/

.custom-dialog {
	font-size: .8em;
	min-width: 300px;
	background-color: white;
	border-radius: 4px;
	box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2),
				0 13px 19px 2px rgba(0, 0, 0, 0.14),
				0 5px 24px 4px rgba(0, 0, 0, 0.12);

	> div {
		md-toolbar {
			min-height: 32px;
			height: 32px;
			border-top-left-radius: 3px;
			border-top-right-radius: 3px;

			.md-toolbar-tools {
				h2 {
					font-size: .8em;
					margin: 0;
				}

				button.md-icon-button {
					margin-right: -15px;
				}
			}
		}
	}

	.body {
		width: 100%;
		max-height: 400px;
		overflow-y: auto;
		padding: 15px;
		// border-bottom: 1px solid #e7e7e7;

		.sign {
			margin: 0;
			font-size: 32px;
		}

		md-input-container {
			margin: 8px 0;

			.md-errors-spacer {
				min-height: 0;
			}

			&.large-input {
				font-size: 1.3em;
				margin-left: 5px;

				input {
					text-align: center;
					color: $main-color;
				}
			}
		}
	}

	.footer {
		padding: 5px;
	}
}