/*
 * @Author: egmfilho <egmfilho@live.com>
 * @Date:   2017-05-29 14:15:44
 * @Last Modified by: egmfilho
 * @Last Modified time: 2017-10-20 14:07:43
 */

@import url('https://fonts.googleapis.com/css?family=Hind+Siliguri:300');

.login {
	.cover {
		width: 100%;
		height: 100%;
		position: absolute;
		background-color: $main-color;
		z-index: 1;
		opacity: .2;
	}

	.picture {
		width: 100%;
		height: 100%;
		position: absolute;
		background-image: url('../images/login-background.jpg');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		z-index: 0;
	}

	.logo {
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		background-image: url('../images/logo-login.png');
		height: 80px;
		width: 250px;
		z-index: 1;
		position: relative;
	}


	md-card {
		padding: 24px 12px;
		z-index: 2;
	}

	md-input-container {
		margin-bottom: 0;
	}

	.md-button {
		margin: 0;
	}

	.api {
		padding: 0;
		border: 1px solid #ccc;
		border-radius: 3px;
		margin-top: 30px;
		font-size: 14px;

		a {
			text-decoration: none;
			font-size: 12px;
			color: $secondary-color;
		}
	}

	.lost-pass {
		text-align: center;

		a {
			text-decoration: none;
			position: relative;
			z-index: 3;
			color: white;
			opacity: .7;
			text-shadow: 1px 1px 1px rgba(#000, .5);

			&:hover {
				opacity: 1;
			}
		}
	}

	.sign {
		font-size: 14px;
		position: absolute;
		bottom: 4px;
		right: 8px;
		text-shadow: 1px 1px 1px rgba(#000, .5);

		a {
			color: white;
			text-decoration: none;
		}

		z-index: 3;
	}

	.ver {
		font-size: 14px;
		text-shadow: 1px 1px 1px rgba(#000, .5);
		position: absolute;
		bottom: 4px;
		left: 8px;
		color: white;
		z-index: 3;
	}
}