/*
* @Author: egmfilho
* @Date:   2017-06-01 16:48:17
* @Last Modified by:   egmfilho
* @Last Modified time: 2017-07-31 08:27:05
*/

.main-menu {
	font-size: .8em;
	min-width: 300px;
	background-color: #f5f5f5;
	border-radius: 4px;
	box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2),
				0 13px 19px 2px rgba(0, 0, 0, 0.14),
				0 5px 24px 4px rgba(0, 0, 0, 0.12);

	.user {
		border-bottom: 1px solid #e7e7e7;

		.avatar {
			md-icon {
				font-size: 50px;
				margin: 10px;
			}
		}

		.description {
			color: $main-color;
			letter-spacing: .5px;
		}

		.pass {
			margin: 10px;
			text-align: right;
			
			.fa {
				font-size: 18px;
			}
		}
	}

	.modules {
		.module {
			button {
				text-decoration: none;
				text-align: center;
				text-transform: none;				
				display: block;
				padding: 8px;
				margin: 8px;
				border-radius: 4px;
				min-width: 150px;

				div {
					display: block;
					margin: 0 auto;

					md-icon {
						font-size: 45px;
						color: white;
						padding: 15px;
						border-radius: 50%;
						width: auto;
					}

					&.order-module {
						md-icon {
							background: #4caf50;
						}
					}

					&.home-module {
						md-icon {
							background: #f99f57;
						}
					}

					&.settings-module {
						md-icon {
							background: deepskyblue;
						}
					}

					&.logout-module {
						md-icon {
							background: #F44336;
						}
					}
				}

				p {
					color: $main-color;
					font-size: 16px;
					font-weight: 400;
					letter-spacing: 0.8px;
					margin-bottom: 0;
					cursor: pointer !important;
				}
			}
		}
	}
}