.product-table-header-container{
	padding-top: 14px;
	padding-right: 10px;
	border: 1px solid $border-color;
	border-bottom: none;
}

.product-table {
	
	tbody{
		tr{
			&.sold-out td {
				color: red !important;
			}

			&.inactive td{
				color: #ccc !important;
			}
		}
	}

	tr {
		th{
			padding: 0 5px 10px;
		}

		td{
			padding: 10px 5px;

		}

		th, td {

			&:nth-child(1){
				width: 30px;
				vertical-align: middle;
				padding: 0;

				md-checkbox {
					margin: 0 5px;
				}
			}
			
			&:nth-child(2){
				width: 14%;
				text-align: center;
			}

			&:nth-child(3){
				width: 18%;
				text-align: center;
			}

			&:nth-child(4){
				width: auto;
			}

			&:nth-child(5){
				width: 15%;
				text-align: center;
			}

			&:nth-child(6){
				width: 15%;
				text-align: center;
			}
		}
	}
}

.items-selection-header-container {
	padding-top: 14px;
	padding-right: 10px;
	border: 1px solid $border-color;
	border-bottom: none;
}

.items-selection-table {
	tr {
		th, td {
			// border: 1px solid red;
			box-sizing: border-box;
			
			&:nth-child(1) {
				width: 70px;
				text-align: right;
			}

			&:nth-child(3) {
				width: 50px;
				padding: 0 4px;
				text-align: center;
			}

			&:nth-child(4), &:nth-child(5) {
				width: 100px;
				padding: 0;
				text-align: right;
			}

			&:nth-child(6) {
				width: 40px;
				padding: 0;

				button {
					float: right;
				}
			}

			input {
				width: 100%;
				min-height: 26px;
				margin: 0;
				padding: 4px;
				border: 1px solid $border-color;
				box-sizing: border-box;
			}
		}
	}
}

.bar {
	z-index: 0;

	.md-toolbar-tools {
		background-color: white;
		color: $main-color;
		font-size: .7em;
		border: 1px solid $border-color;
		border-top: none;

		.legend{
			display: inline-block;

			&.sold-out {
				color: red !important;
			}

			&.inactive {
				margin-right: 30px;
				color: $main-color !important;

				.fa.fa-stop {
					color: #ccc !important;
				}
			}

			i{
				margin-right: 4px;
			}
		}
	}
}