.product-table-header-container{
	padding-top: 14px;
	padding-right: 10px;
	border: 1px solid $border-color;
	border-bottom: none;
}

.product-table {
	
	tbody{
		tr{
			&.inactive td{
				@extend .text-danger;
			}
		}
	}

	tr {
		th{
			padding: 0 5px 10px;
		}

		td{
			padding: 10px 5px;

		}

		th, td {

			&:nth-child(1){
				width: 30px;
				vertical-align: middle;
				padding: 0;

				md-checkbox {
					margin: 0 5px;
				}
			}
			
			&:nth-child(2){
				width: 14%;
				text-align: center;
			}

			&:nth-child(3){
				width: 18%;
				text-align: center;
			}

			&:nth-child(4){
				width: auto;
			}

			&:nth-child(5){
				width: 15%;
				text-align: center;
			}

			&:nth-child(6){
				width: 15%;
				text-align: center;
			}
		}
	}
}

.bar {
	z-index: 0;

	.md-toolbar-tools {
		background-color: white;
		color: $main-color;
		font-size: .7em;
		border: 1px solid $border-color;
		border-top: none;

		.legend{
			@extend .text-danger;

			i{
				margin-right: 4px;
			}
		}
	}
}