/*
* @Author: egmfilho
* @Date:   2017-06-23 17:10:42
* @Last Modified by:   egmfilho
* @Last Modified time: 2017-07-21 10:02:24
*/

.open-order-container-nav {
	.md-toolbar-tools {
		
		background-color: $main-color-light;
		height: 80px;
		max-height: 80px;

		.md-select{
			height: 20px;
			margin-right: 20px;
		}

		.md-text{
			color: #FFF;
		}

		.md-date{
			padding-top: 12px;

			input{
				width: 80px;
				min-width: 80px;
				color: #FFF;
			}
		}

		.md-date-on{
			input{
				@extend .text-primary;
			}
		}

		label{
			color: #FFF !important;
		}

		.md-select-value{
			font-size: 14px;
		}

		.filter{
			min-width: 120px;
		}

		.search {
			position: relative;

			input {
				width: 100%;
				border: none;
				border-radius: 3px;
				background-color: rgba(#000, .15);
				padding: 10px;
				padding-right: 35px;
				font-size: 15px;
				color: white;

				&::-webkit-input-placeholder {
					color: #ccc;
				}
			}

			.clear-search-button {
				background: none;
				border: none;
				color: white;
				opacity: .25;
				position: absolute;
				right: 5px;
				top: 5px;
				transition: opacity .5s ease;

				&:hover {
					opacity: .8;
				}
			}
		}
	}
}

.open-order-container {
	background-color: #d9d9d9;
	overflow-y: auto;

	.card {
		md-card-content {
			padding: 12px;
			.icon {
				margin: -12px;
				margin-right: 6px;
				padding: 32px 12px;
				border-right: 1px solid #e6e6e6;

				md-icon {
					font-size: 60px;
				}

				.subtitle {
					font-size: 12px;
					color: #777;
				}
			}

			.description {
				font-size: 1.1em;
				margin-left: 16px;

				.md-title {
					font-size: .85em;
					margin-bottom: 5px;

					a {
						color: $main-color;
						text-decoration: none;
					}
				}

				table {
					margin: 5px 0;
					padding: 4px;
					width: 100%;

					td {
						font-size: .7em;
						color: rgba(#000, .5);
						padding: 0 3px;

						&:first-child {
							text-align: right;
							font-weight: 600;
							width: 70px;
						}
					}
				}
			}
		}
	}
}

.open-order {
	.open-order-dense-container {
		background-color: white;
		overflow-y: scroll;
		background-color: #f5f5f5;
	}

	.order-table-header-container {
		background-color: white;
		padding-top: 14px;
		padding-right: 10px;
		box-shadow: 0 2px 2px rgba(#000, .2);
	}

	.order-table {
		width: 100%;

		tr {
			th, td {
				// border: 1px solid red;

				&:nth-child(1) {
					width: 4%;
					vertical-align: middle;
					text-align: center;

					md-icon {
						font-size: 20px;
					}
				}

				&:nth-child(2) {
					width: 10%;
				}

				&:nth-child(3), &:nth-child(4) {
					width: 30%;
				}

				&:nth-child(5), &:nth-child(6) {
					width: 9%;
				}

				&:nth-child(7), &:nth-child(8) {
					width: 4%;
					padding: 0;
					vertical-align: middle;
					text-align: center;

					button.md-button.md-icon-button {
						margin: 0;
						width: 24px !important;
						height: 24px !important;
						min-height: 24px;
						max-height: 24px;
						padding: 0 !important;
						font-size: 17px;
					}
				}
			}
		}

		tbody tr {
			&:nth-child(odd) {
				background-color: #f6f8f9;
			}

			td {
				color: $main-color;
			}
		}
	}

	md-toolbar.info {
		background-color: white;
		color: $main-color;
		min-height: 50px;
		max-height: 50px;
		border-top: 1px solid whitesmoke;
		
		.md-toolbar-tools {
			md-icon {
				font-size: 20px;
				line-height: 20px;
			}

			.md-subhead {
				font-size: 14px;
			}
		}
	}
}