/*
* @Author: egmfilho
* @Date:   2017-06-23 17:10:42
* @Last Modified by:   egmfilho
* @Last Modified time: 2017-08-02 08:47:21
*/

.open-order-container-nav {
	.md-toolbar-tools {
		overflow: hidden;
		background-color: white;
		height: 120px;
		max-height: 120px;
		box-shadow: 0 0 4px rgba(#000, .3);
		position: relative;
		z-index: 1;

		.logo-container {
			height: 100%;
			padding: 16px;

			.logo {
				background-image: url('../images/LOGO 2017.png');
				background-position: center;
				background-size: contain;
				background-repeat: no-repeat;
				width: 100%;
				height: 100%;
			}
		}

		.clown {
			height: 50px;
			max-height: 50px;
		}

		.end-menu {
			button {
				width: 100%;
			}
		}

		label{
			font-size: 16px;
		}

		input {
			font-size: 14px;
		}

		.md-input-focused, .md-input-has-value {
			label {
				@extend .text-primary;
			}
		}

		.md-select-value{
			font-size: 14px;
		}

		.filter{
			min-width: 120px;
		}

		.datepicker {
			margin-top: 17px;
			margin-bottom: 0;
		}
	}
}

.open-order-container {
	background-color: #d9d9d9;
	overflow-y: auto;

	.card {
		md-card-content {
			padding: 12px;
			.icon {
				margin: -12px;
				margin-right: 6px;
				padding: 32px 12px;
				border-right: 1px solid #e6e6e6;

				md-icon {
					font-size: 60px;
				}

				.subtitle {
					font-size: 12px;
					color: #777;
				}
			}

			.description {
				font-size: 1.1em;
				margin-left: 16px;

				.md-title {
					font-size: .85em;
					margin-bottom: 5px;

					a {
						color: $main-color;
						text-decoration: none;
					}
				}

				table {
					margin: 5px 0;
					padding: 4px;
					width: 100%;

					td {
						font-size: .7em;
						color: rgba(#000, .5);
						padding: 0 3px;

						&:first-child {
							text-align: right;
							font-weight: 600;
							width: 70px;
						}
					}
				}
			}
		}
	}
}

.open-order {
	.open-order-dense-container {
		background-color: white;
		overflow-y: scroll;
		background-color: rgba(#000, .05);;
	}

	.order-table-header-container {
		background-color: $main-color-lighter;
		padding-top: 14px;
		padding-right: 10px;
		// border-bottom: 1px solid whitesmoke;
	}

	.order-table {
		width: 100%;

		tr {
			th {
				background-color: $main-color-lighter;
				color: white !important;
			}

			th, td {
				&:nth-child(1) {
					width: 4%;
					vertical-align: middle;
					text-align: center;

					md-icon {
						font-size: 20px;
					}
				}

				&:nth-child(2), &:nth-child(3) {
					width: 9%;
				}

				&:nth-child(4){
					width: 30%;
				}

				&:nth-child(5) {
					width: 20%;
				}

				&:nth-child(6), &:nth-child(7) {
					width: 10%;
				}

				&:nth-child(8), &:nth-child(9) {
					width: 4%;
					padding: 0;
					vertical-align: middle;
					text-align: center;
				}
			}
		}

		tbody tr {
			&:nth-child(odd) {
				background-color: lighten($main-color-lighter, 50%);
			}

			td {
				color: $main-color;
			}
		}
	}

	.search-container {
		position: absolute;
		bottom: 0px;
		right: 10px;
		width: 100%;
		z-index: 0;
		transition: bottom .3s;
		overflow-x: hidden; // para esconder a sombra q fica do lado direito (aparecia em cima do scroll)
		padding-top: 2px;

		&.opened {
			bottom: 50px;
		}

		.search {
			background-color: white;
			padding: 5px;
			border-top-left-radius: 4px;
			box-shadow: 0 0 2px rgba(#000, .3);
			
			input {
				width: 280px;
				border: 1px solid #e7e7e7;
				padding: 4px;
			}

			a {
				margin: 0 10px;
				margin-left: 12px;
				color: $main-color;
			}
		}
	}

	md-toolbar.info {
		background-color: white;
		color: $main-color;
		min-height: 50px;
		max-height: 50px;
		box-shadow: 0 0 4px rgba(#000, .3);
		
		.md-toolbar-tools {
			.status-filter {
				padding: 4px;
				cursor: pointer !important;
				min-width: 160px;
				text-align: center;
				border-radius: 4px;
				transition: box-shadow .5s;
				border: 1px solid transparent;

				&.active {
					background-color: $main-color-lighter;
					color: white;
					box-shadow: 0 0 4px rgba(#000, .4);
					// border: 1px solid $main-color-lighter;
				}

				&:hover {
					// background-color: whitesmoke;
					border: 1px solid $main-color-lighter;
				}

				md-icon {
					font-size: 20px;
					line-height: 20px;
					cursor: pointer !important;					
				}

				.md-subhead {
					font-size: 14px;
					cursor: pointer !important;
				}
			}

			.search-button {
				margin-left: 0;
				padding-left: 0;

				.material-icons {
					font-size: 30px;
				}
			}
		}
	}
}