/*
* @Author: egmfilho
* @Date:   2017-06-23 17:10:42
* @Last Modified by:   egmfilho
* @Last Modified time: 2017-07-18 10:24:32
*/

.open-order-container-nav {
	.md-toolbar-tools {
		background-color: $main-color-light;

		input {
			border: none;
			border-radius: 3px;
			background-color: rgba(#000, .15);
			padding: 10px;
			font-size: 15px;
			color: white;

			&::-webkit-input-placeholder {
				color: #ccc;
			}
		}
	}
}

.open-order-container {
	background-color: #d9d9d9;
	overflow-y: auto;

	.card {
		md-card-content {
			padding: 12px;
			.icon {
				margin: -12px;
				margin-right: 6px;
				padding: 32px 12px;
				border-right: 1px solid #e6e6e6;

				md-icon {
					font-size: 60px;
				}

				.subtitle {
					font-size: 12px;
					color: #777;
				}
			}

			.description {
				font-size: 1.1em;
				margin-left: 16px;

				.md-title {
					font-size: .85em;
					margin-bottom: 5px;

					a {
						color: $main-color;
						text-decoration: none;
					}
				}

				table {
					margin: 5px 0;
					// background-color: whitesmoke;
					// border: 1px solid #d7d7d7;
					padding: 4px;
					width: 100%;

					td {
						font-size: .7em;
						color: rgba(#000, .5);
						padding: 0 3px;

						&:first-child {
							text-align: right;
							font-weight: 600;
							width: 70px;
						}
					}
				}
			}
		}
	}
}

.open-order-dense-container {
	background-color: white;
	overflow-y: auto;

	// .md-list.md-list-dense .md-list-item.md-3-line {
	// 	min-height: 64px !important;
	// }

	.md-list-item-text {
		margin: 0 !important;
		height: auto;
		min-height: 60px;

		span {
			white-space: normal !important;
			line-height: 18px !important;
			@extend .text-light;

			b {
				color: $main-color;
			}
		}
	}

	.icon {
		font-size: 30px;
		width: 30px;
		margin-right: 20px;
	}
}