/*
* @Author: egmfilho
* @Date:   2017-05-25 13:03:46
* @Last Modified by:   egmfilho
* @Last Modified time: 2017-05-29 14:16:02
*/

.order-container-tab {
	overflow-y: auto;
	max-width: 1024px;
	margin: 0 auto;	

	md-tabs {		
		border-bottom: 1px solid #e1e1e1;
		border-radius: 0;
		background-color: #f5f5f5;	

		md-content { 
			background-color: transparent !important;
			padding: 10px 15px;
		}

		md-tab-content {
			background-color: #f5f5f5;
		}

		md-tabs-wrapper {
			background-color: white;
		}
	}

	md-card {	
		margin: 10px auto;

		md-card-header {
			margin-bottom: 0px;
			padding: 8px 16px;
		}

		md-card-content {
			padding: 0 16px;
		}

		& > md-card-content {
			padding: 0 0 16px;
		}

		md-input-container {
			margin: 8px 0;		
		}	

		md-autocomplete md-progress-linear.md-inline {
			bottom: 30px;
		}
	}
}