/*
* @Author: egmfilho
* @Date:   2017-05-26 16:01:34
* @Last Modified by:   egmfilho
* @Last Modified time: 2017-07-11 10:21:41
*/

.modal-saved {
	md-icon {
		font-size: 20px;
	}
}

.order-toolbar {
	> div {
		md-toolbar-filler {
			background-color: $secondary-color;
			font-size: 2.5em;
		}
	}

	.md-toolbar-tools {
		height: 40px;
	}

	.order-menu-bar {
		button {
			height: 32px;
		}
	}
}

.order-container {
	max-width: $max-document-width;
	margin: 0 auto;

	.order-fab {
		position: fixed;
		left: 15px;
		bottom: 30px;
		transition: left .25s ease;
		
		@media(max-width: 1100px) {
			left: -35px;
		}

		&.in {
			@media(max-width: 1100px) {
				left: 0px;
			}
		}

		&.hidden {
			left: -100px;
		}

		.md-button.md-fab {
			font-size: 26px;		

			&.md-mini {
				font-size: 20px;
			}
		}
	}

	md-card {	
		font-size: .9em;

		md-card-header {
			background-color: $main-color-lighter;
			padding: 8px 16px;
			border-top-left-radius: 2px;
			border-top-right-radius: 2px;

			.md-title {
				color: white;
			}

			button.md-raised {
				margin-right: 0;
			}
		}

		md-card-content {
			padding: 8px 16px 16px 16px;
		}

		md-autocomplete md-progress-linear.md-inline {
			bottom: 6px;
		}

		md-input-container {
			// line-height: 10px;
			margin: 8px 0;

			.md-errors-spacer {
				min-height: 0;
			}

			&.large-input {
				font-size: 1.3em;
				margin-left: 5px;

				input {
					text-align: center;
					color: $main-color;
				}
			}
		}
	}

	section[name='customer'] {

		.delivery-address {
			.md-toolbar-tools {
				background-color: white;
				color: $main-color;
				font-size: .7em;
				border-top: 1px solid #e1e1e1;
			}
		}

		md-tabs {		
			border: 1px solid #e1e1e1;
			border-radius: 0;
			background-color: #f5f5f5;
			height: 365px;

			.inner-text {
				text-shadow: -1px -1px 1px rgba(0,0,0,0.3);
				color: #e1e1e1;
				font-size: 32px;
				font-weight: 500;
			}

			md-content { 
				background-color: transparent !important;
				padding: 10px 15px;
			}

			md-tab-content {
				background-color: #f5f5f5;
			}

			md-tabs-wrapper {
				background-color: white;
			}

			md-card {
				border: 3px solid white;
				min-height: 150px;
				height: 150px;

				b {
					color: #6a6a6a;
				}

				button { 
					float: right;
				}

				&.active {
					border-color: $secondary-color;
				}

				md-card-content {
					padding: 8px;

					p {
						margin: 0;
					}
				}

				&.dashed-empty-card {
					border-style: dashed;
					border-color: #e1e1e1;
					background-color: transparent;
					box-shadow: none;

					p {
						font-weight: bold !important;
					}
				}

				&.new-address-card {
					height: auto;
					margin: 0;

					md-card-content {
						md-switch {
							margin: 0;

							.md-label {
								color: #555;
							}
						}
					}
				}
			}
		}
	}
}

.container-table {
	height: 200px;
	overflow-y: scroll;
	border: 1px solid rgba(#000, .12);
	background-color: #f5f5f5;

	&.short {
		height: 120px;
	}
}

.products-table-header-container, .payment-table-header-container {
	padding-top: 14px;
	padding-right: 10px;
	border: 1px solid #d7d7d7;
	border-bottom: none;
}

.products-table {
	width: 100%;
	border-collapse: collapse;

	tr {
		display: table-row;
		background-color: white;

		th, td {
			display: table-cell;

			&:nth-child(1) {
				width: 42%;
			}

			&:nth-child(2), &:nth-child(3) {
				width: 5%;
			}

			&:nth-child(4), &:nth-child(5), &:nth-child(6) {
				width: 10%;
			}

			&:nth-child(7) {
				width: auto;
			}

			&:nth-child(8) {
				width: 40px;
				padding: 0;

				button {
					margin: 0;
					font-size: 20px;
					padding-top: 10px;
				}
			}
		}
	}

	thead {		
		tr {
			// border-bottom: 1px solid rgba(#000, .12);			

			th {
				text-align: left;
				color: rgba(#000, .4); //rgba(#000, .38);
				font-size: 12px;
				font-weight: bold;
				padding: 1px 1px 12px 1px;
			}
		}
	}

	tbody {
		tr {
			transition: background-color .5s ease; 

			/* Para evitar delay nos updates dos itens */
			&.ng-animate {
				transition: 0s none;
			}

			&:hover {
				background-color: #e7e7e7;
			}

			td {
				color: rgba(#000, .6);
				padding: 0 5px;
				font-size: 12px;
				vertical-align: middle;
			}
		}		
	}
}

.payment-table {
	width: 100%;
	border-collapse: collapse;

	tr {
		display: table-row;
		background-color: white;

		th, td {
			display: table-cell;
			padding: 1px 5px;

			&:nth-child(1) {
				width: 30px;
			}

			&:nth-child(2) {
				width: auto;
			}

			&:nth-child(3), &:nth-child(4) {
				width: 20%;
			}

			&:nth-child(5) {
				width: 40px;
				padding: 0;

				button {
					margin: 0;
					font-size: 20px;
					padding-top: 10px;
				}
			}
		}
	}

	thead {		
		tr {
			// border-bottom: 1px solid rgba(#000, .12);			

			th {
				text-align: left;
				color: rgba(#000, .4); //rgba(#000, .38);
				font-size: 12px;
				font-weight: bold;
				padding-bottom: 12px;
			}
		}
	}

	tbody {
		tr {
			transition: background-color .5s ease; 

			/* Para evitar delay nos updates dos itens */
			&.ng-animate {
				transition: 0s none;
			}

			&:hover {
				background-color: #e7e7e7;
			}

			td {
				color: rgba(#000, .6);
				font-size: 12px;
				vertical-align: middle;

				&:first-child {
					text-align: right;
				}
			}
		}		
	}
}

.payment-table-footer {
	border: 1px solid #d7d7d7;
	margin-top: -1px;
	padding: 1px;

	button {
		margin: 4px;
	}
}

.chule {
	height: 240px;
	overflow-y: auto;
	border: 1px solid #d6d6d6;
	padding: 0 !important;
	background-color: whitesmoke;
	margin-right: 8px;

	md-list {
		padding: 0;
		background-color: white;
	}
}

md-menu-content {
	$height: 30px;

	md-menu-item {
		min-height: $height;
		height: $height;

		button {
			min-height: $height !important;
			height: $height !important;
			font-size: 13px !important;

			md-icon {
				font-size: 16px !important;
				margin-right: 8px !important;
				line-height: 20px !important;
			}

			div {
				min-height: $height;
				height: $height;				
			}
		}
	}
}