/*
* @Author: egmfilho
* @Date:   2017-05-26 16:01:34
* @Last Modified by:   egmfilho
* @Last Modified time: 2017-07-21 12:05:34
*/

.customer-credit-modal {
	.credit-table-header-container {
		padding-top: 14px;
		padding-right: 10px;
		border: 1px solid #d7d7d7;
		border-bottom: none;
	}

	.credit-table {
		width: 850px;

		tr {
			th, td {
				&:nth-child(1) {
					width: 16px;

					md-checkbox {
						margin: 0;
						width: 20px;
					}
				}

				&:nth-child(2) {
					width: 60px;
				}

				&:nth-child(3) {
					width: auto;
				}

				&:nth-child(4), &:nth-child(5), &:nth-child(6) {
					width: 70px;
				}

				&:nth-child(7), &:nth-child(8), &:nth-child(9) {
					width: 11%;
				}
			}
		}
	}

	.note {
		.well {
			height: 60px;
			max-height: 60px;
			overflow-y: scroll;
		}
	}
}

.modal-saved {
	md-icon {
		font-size: 20px;
	}
}

.order-toolbar {

	.toolbar-btn {
		margin: 2px;		
		min-width: 40px;
		padding: 0;
		font-size: 23px;

		&:disabled {
			md-icon {
				opacity: .1;
			}
		}
	}

	.separator {
		margin: 0 10px;
		border: 1px solid rgba(#000, .2);
		height: 30px;
	}

	> div {
		md-toolbar-filler {
			
			&.new {
				background-color: $success-color;
			}

			&.edit {
				background-color: $secondary-color;
			}

			font-size: 2.5em;
		}
	}

	.md-toolbar-tools {
		height: 40px;
	}

	.order-menu-bar {
		button {
			height: 32px;
		}
	}
}

.order-container {
	max-width: $max-document-width;
	margin: 0 auto;

	md-card {	
		font-size: .9em;

		md-card-header {
			background-color: $main-color-lighter;
			padding: 8px 16px;
			border-top-left-radius: 2px;
			border-top-right-radius: 2px;

			&.error {
				background-color: $error-color;
			}

			.md-title, .md-subhead {
				color: white;
			}

			button.md-raised {
				margin-right: 0;
			}
		}

		md-card-content {
			padding: 8px 16px 16px 16px;
		}

		md-autocomplete md-progress-linear.md-inline {
			bottom: 6px;
		}

		md-input-container {
			// line-height: 10px;
			margin: 8px 0;

			.md-errors-spacer {
				min-height: 0;
			}

			&.large-input {
				font-size: 1.3em;
				margin-left: 5px;

				input {
					text-align: center;
					color: $main-color;
				}
			}
		}
	}

	section[name='customer'] {
		.delivery-address {
			z-index: 0;
			
			.md-toolbar-tools {
				background-color: white;
				color: $main-color;
				font-size: .7em;
				border: 1px solid #e1e1e1;
			}
		}
	}
}

.container-table {
	height: 200px;
	overflow-y: scroll;
	border: 1px solid rgba(#000, .12);
	background-color: #f5f5f5;

	&.short {
		height: 120px;
	}
}

.products-table-header-container, .payment-table-header-container {
	padding-top: 14px;
	padding-right: 10px;
	border: 1px solid #d7d7d7;
	border-bottom: none;
}

.products-table {
	tr {
		th, td {
			&:nth-child(1) {
				width: 42%;
			}

			&:nth-child(2), &:nth-child(3) {
				width: 5%;
			}

			&:nth-child(4), &:nth-child(5), &:nth-child(6) {
				width: 10%;
			}

			&:nth-child(7) {
				width: auto;
			}

			&:nth-child(8) {
				width: 40px;
				padding: 0;

				button {
					margin: 0;
					font-size: 20px;
					padding-top: 10px;
				}
			}
		}
	}
}

.payment-table {
	tr {
		&.credit {
			// background-color: $secondary-color;
			td, td md-icon {
				color: $secondary-color-dark;
			}

			&:hover {
				// background-color: $secondary-color-light;
			}
		}

		th, td {
			&:nth-child(1) {
				width: 30px;
			}

			&:nth-child(2) {
				width: auto;
			}

			&:nth-child(3), &:nth-child(4) {
				width: 20%;
			}

			&:nth-child(5) {
				width: 40px;
				padding: 0;

				button {
					margin: 0;
					font-size: 20px;
					padding-top: 10px;
				}
			}
		}

		td:first-child {
			text-align: right;
		}
	}
}

.payment-table-footer {
	border: 1px solid #d7d7d7;
	margin-top: -1px;
	padding: 1px;

	button {
		margin: 4px;
	}
}

md-menu-content {
	$height: 30px;

	md-menu-item {
		min-height: $height;
		height: $height;

		button {
			min-height: $height !important;
			height: $height !important;
			font-size: 13px !important;

			md-icon {
				font-size: 16px !important;
				margin-right: 8px !important;
				line-height: 20px !important;
			}

			div {
				min-height: $height;
				height: $height;				
			}
		}
	}
}

section[name="payment"] {

	div[flex="40"] {
		padding-left: 16px;

		.credit {
			margin-top: 50px;
			margin-bottom: 17px;
		}

		.summary {
			border: 1px solid #d7d7d7;

			.md-toolbar-tools {
				background-color: $main-color-lighter;
				min-height: 45px;
				max-height: 45px;
			}

			table {
				margin: 9px;

				tr td {
					padding: 7px;
				}
			}
		}
	}
}