/*
* @Author: egmfilho
* @Date:   2017-05-26 16:01:34
* @Last Modified by:   egmfilho
* @Last Modified time: 2017-06-01 13:08:09
*/

.order-toolbar {
	> div {
		md-toolbar-filler {
			background-color: $secondary-color;
			font-size: 2.5em;
		}
	}

	.md-toolbar-tools {
		height: 40px;
	}

	.order-menu-bar {
		button {
			height: 32px;
		}
	}
}

.order-container {
	max-width: 1024px;
	margin: 0 auto;

	md-card {	
		font-size: .9em;

		md-card-header {
			background-color: $main-color-lighter;
			padding: 8px 16px;
			border-top-left-radius: 2px;
			border-top-right-radius: 2px;

			.md-title {
				color: white;
			}
		}

		md-card-content {
			padding: 8px 16px 16px 16px;
		}

		md-autocomplete md-progress-linear.md-inline {
			bottom: 6px;
		}

		md-input-container {
			// line-height: 10px;
			margin: 8px 0;

			.md-errors-spacer {
				min-height: 0;
			}

			&.large-input {
				font-size: 1.3em;
				margin-left: 5px;

				input {
					text-align: center;
					color: $main-color;
				}
			}
		}
	}

	section[name='customer'] {
		md-tabs {		
			border: 1px solid #e1e1e1;
			border-radius: 0;
			background-color: #f5f5f5;

			.inner-text {
				text-shadow: -1px -1px 1px rgba(0,0,0,0.3);
				color: #e1e1e1;
				font-size: 32px;
				font-weight: 500;
			}

			md-content { 
				background-color: transparent !important;
				padding: 10px 15px;
			}

			md-tab-content {
				background-color: #f5f5f5;
			}

			md-tabs-wrapper {
				background-color: white;
			}

			md-card {
				border: 3px solid white;

				button { 
					float: right;
				}

				&.active {
					border-color: $secondary-color;
				}
			}
		}
	}
}

.container-table {
	height: 200px;
	overflow-y: scroll;
	border: 1px solid rgba(#000, .12);
}

.products-table {
	width: 100%;
	border-collapse: collapse;

	tr {
		display: table-row;

		th, td {
			display: table-cell;

			&:nth-child(1) {
				width: 42%;
			}

			&:nth-child(2), &:nth-child(3) {
				width: 5%;
			}

			&:nth-child(4), &:nth-child(5), &:nth-child(6) {
				width: 10%;
			}

			&:nth-child(7) {
				width: auto;
			}

			&:nth-child(8) {
				width: 40px;
				padding: 0;

				button {
					margin: 0;
				}
			}
		}
	}

	thead {		
		tr {
			// border-bottom: 1px solid rgba(#000, .12);			

			th {
				text-align: left;
				color: rgba(#000, .4); //rgba(#000, .38);
				font-size: 12px;
				font-weight: bold;
				padding: 1px 1px 12px 1px;
			}
		}
	}

	tbody {
		tr {
			transition: background-color .5s ease;

			&:hover {
				background-color: #e7e7e7;
			}

			td {
				color: rgba(#000, .6);
				padding: 0 5px;
				font-size: 12px;
				vertical-align: middle;
			}
		}		
	}
}

md-menu-content {
	$height: 30px;

	md-menu-item {
		min-height: $height;
		height: $height;

		button {
			min-height: $height !important;
			height: $height !important;
			font-size: 13px !important;

			md-icon {
				font-size: 16px !important;
				margin-right: 8px !important;
				line-height: 20px !important;
			}

			div {
				min-height: $height;
				height: $height;				
			}
		}
	}
}