/*
 * @Author: egmfilho <egmfilho@live.com>
 * @Date:   2017-10-13 14:01:00
 * @Last Modified by: egmfilho
 * @Last Modified time: 2017-11-06 17:08:48
 */
 
 .cupon-window {
	.md-fab {
		display: none;
	}

	@media only screen {
		background-color: #777;
		
		.md-fab {
			display: block;
		}	
	}

}

.order-cupon {
	min-height: 100%;
	overflow-y: auto;
	background-color: white;

	.cupon {
		$scale: 2.2;
		$font-xlg: 22px * $scale;
		$font-lg: 18px * $scale;
		$font-md: 16px * $scale;
		$font-sm: 14px * $scale;
		$width: 400px * $scale;

		font-weight: bold !important;
		
		@media only screen {
			width: $width;
			margin: 0 auto;
			height: 100%;
			min-height: 100%;
			padding: 15px;
			background-color: #FFF5BF;
			box-shadow: 0 0 15px rgba(#000, .3);
			zoom: 1 / $scale;
		}

		font-size: $font-sm;
		font-family: arial;

		.header {
			margin-bottom: 15px;
			
			.company {
				text-align: center;

				.name {
					font-weight: bold;
					font-size: $font-xlg;
					margin-bottom: 5px;
				}
			}

			.info {
				margin-top: 15px;
				padding-bottom: 15px;
				border-bottom: 1px solid black;
			}
		}

		.body {
			table {
				width: 100%;
				display: table;
				padding-bottom: 5px;

				thead {
					display: table-header-group;
				}

				tbody {
					display: table-row-group;
				}

				tr {
					display: table-row;

					th {
						display: table-cell;
						text-align: left;
						font-weight: bold;
						padding: 4px;
					}

					td {
						display: table-cell;
						padding: 6px 2px;

						&.no-breakable {
							max-width: 280px;
							white-space: nowrap;
							overflow-x: hidden;
							text-overflow: ellipsis;
						}
					}
				}
			}

			.title {
				font-size: $font-lg;
				text-align: center;
				font-weight: bold;
				margin-bottom: 15px;

				&.lg {
					font-size: $font-xlg;
				}
			}

			.subtitle {
				margin-bottom: 15px;
			}

			.customer {
				text-transform: uppercase;

				.md-block:first-child {
					font-size: $font-md;
					margin-bottom: 10px;
				}

				.md-block:last-child {
					margin-top: 5px;
				}
			}

			.items {
				margin-top: 15px;

				table {
					border-bottom: 1px solid black;
					border-collapse: collapse;

					thead {
						tr:first-child {
							border-bottom: 1px solid black;
						}
	
						tr:last-child {
							border-top: 1px solid black;
						}
					}
				}				

				.st {
					margin-top: 10px;
					font-size: $font-md;
				}

				.total {
					margin-top: 10px;
					font-size: $font-lg;
				}
			}

			.payment {
				text-transform: uppercase;
				margin-top: 15px;
			}

			.delivery-address {
				border-top: 1px solid black;
				padding-top: 15px;
				text-transform: uppercase;

				.md-block {
					font-size: $font-md;
				}
			}

			.note {
				margin-top: 15px;

				.md-block {
					font-size: $font-md;
				}
			}

			.message {
				text-align: center;
				margin-top: 15px;
				border-top: 1px solid black;
				padding-top: 15px;
			}
		}
	}
}