/*
* @Author: egmfilho
* @Date:   2017-05-26 16:13:24
* @Last Modified by:   egmfilho
* @Last Modified time: 2017-05-29 16:51:21
*/

:not(input):not(textarea):not(md-icon):not(button),
:not(input):not(textarea):not(md-icon):not(button)::after,
:not(input):not(textarea):not(md-icon):not(button)::before {
	-webkit-user-select: none;
	user-select: none;
	cursor: default;
}
input, button, textarea, :focus {
	outline: none; // You should add some other style for :focus to help UX/a11y
}