/*
 * @Author: egmfilho <egmfilho@live.com>
 * @Date:   2017-05-26 16:13:24
 * @Last Modified by: egmfilho
 * @Last Modified time: 2017-10-20 17:08:16
 */

:not(input):not(textarea) {
	&, &::after, &::before {
		-webkit-user-select: none;
		user-select: none;
		cursor: default;
	}
}

button, a {
	cursor: pointer !important;

	* {
		&, &::before, &::after {
			cursor: pointer !important;
		}
	}
}

input, button, textarea, a, :focus {
	outline: none; // You should add some other style for :focus to help UX/a11y
}

a:not([draggable=true]), img:not([draggable=true]) {
    -webkit-user-drag: none;
    user-drag: none; /* Technically not supported in Electron yet */
}

a[href^="http://"],
a[href^="https://"],
a[href^="ftp://"] {
    -webkit-user-drag: auto;
    user-drag: auto; /* Technically not supported in Electron yet */
}