/*
 * @Author: egmfilho <egmfilho@live.com>
 * @Date:   2017-06-26 12:02:03
 * @Last Modified by: egmfilho
 * @Last Modified time: 2017-10-31 11:41:59
 */
 
.print-window {
	.md-fab {
		display: none;
	}

	@media only screen {
		margin: 32px;
		border: 32px solid white;
		box-shadow: 0 0 10px rgba(#000, .5);
		
		.md-fab {
			display: block;
		}	
	}
}

.print-order {
	background-color: white;
	
	.header {
		padding-bottom: 10px;
		border-bottom: 2px solid black;
		margin-bottom: 10px;

		.logo {
			height: 80px;
			padding: 16px;
			// background-size: contain;
			// background-position: center;
			// background-repeat: no-repeat;
			img {
				width: 100%;
				height: auto;
			}
		}

		.company {
			font-size: 15px;
		}

		.info {
			text-align: right;

			.md-subhead {
				font-size: 13px;
				line-height: 16px;
			}
		}
	}

	.order-info {
		font-size: 16px;
		// padding-bottom: 10px;
		// border-bottom: 2px solid black;
		margin-bottom: 10px;

		table {
			width: 100%;
			border-collapse: collapse;

			tr {
				td {
					padding: 2px 4px;
					text-transform: uppercase;
					white-space: nowrap;
					overflow: hidden !important;
					// border: 1px solid black;
				}
			}
		}
	}

	.message {
		font-size: 11px;
		text-align: center;
		// margin: 25px 10%;
		padding-left: 16px;
	}

	.print-table {
		border-collapse: collapse;

		thead {
			tr {
				&:first-child {
					background-color: #a7a7a7;
				}
			}
		}
		
		tr {
			display: table-row;

			th, td {
				display: table-cell;
				border: 1px solid black;
				vertical-align: middle;
				height: 20px;
				padding: 2px 4px;
				font-size: 11px;	
				overflow: hidden;
			}

			th {
				padding: 4px;
			}
		}

		&.borderless {
			tr {
				th, td {
					border: none;
				}
			}
		}
	}

	.products{
		width: 100%;

		tr {
			th, td {
				text-align: center;

				&:nth-child(1) {
					width: 40%;
				}

				&:nth-child(2), &:nth-child(3) {
					width: 4%;
				}

				&:nth-child(5), &:nth-child(6) {
					width: 7%;	
				}

				&:nth-child(4), &:nth-child(7) {
					width: 8%;
				}

				&:nth-child(8) {
					width: auto;
				}
			}

			td:first-child {
				text-align: left;
			}
		}
	}

	.payment {
		tr {
			th, td {
				text-align: left !important;
				border: 1px solid black !important;
				text-transform: uppercase;

				&:first-child {
					width: 20px;
				}

				&:nth-child(2) {
					width: 160px;
				}

				&:last-child {
					width: 50px;
				}
			}
		}

		thead {
			tr {
				&:first-child {
					background-color: #a7a7a7;
				}
			}
		}
	}

	.besouro {
		// min-height: 400px;

		display: block;

		.delivery-address, .summary {
			box-sizing: border-box;
			display: inline-flex;
			width: 100%;
		}

		.delivery-address {
			table tr {
				td {
					font-size: 14px;
					text-transform: uppercase;
				}
			}
		}
	}

	.note {
		border: 1px solid black;
		padding: 4px;
		margin-right: 16px;
		min-height: 40px;

		p {
			margin: 0px;
			font-size: 13px;
			text-transform: uppercase;
		}
	}
}