/*
* @Author: egmfilho
* @Date:   2017-06-26 12:02:03
* @Last Modified by:   egmfilho
* @Last Modified time: 2017-08-17 12:10:56
*/

.print-window {
	@media only screen {
		margin: 32px;
		border: 32px solid white;
		box-shadow: 0 0 10px rgba(#000, .5);
	}
}

.print-order {
	background-color: white;
	
	.header {
		padding-bottom: 15px;
		border-bottom: 2px solid black;
		margin-bottom: 15px;

		.logo {
			height: 100px;
			padding: 16px;
			// background-size: contain;
			// background-position: center;
			// background-repeat: no-repeat;
			img {
				width: 100%;
				height: auto;
			}
		}

		.company {
			font-size: .8em;
		}

		.info {
			text-align: right;

			.md-subhead {
				font-size: .7em;
				line-height: 16px;
			}
		}
	}

	.order-info {
		font-size: 11px;
		margin-bottom: 15px;

		table {
			width: 100%;

			tr {
				td {
					padding: 2px;
				}
			}
		}
	}

	.message {
		font-size: 11px;
		text-align: center;
		// margin: 25px 10%;
		padding-left: 16px;
	}

	.print-table {
		border-collapse: collapse;

		thead {
			tr {
				&:first-child {
					background-color: #cdcdcd;
				}
			}
		}
		
		tr {
			display: table-row;

			th, td {
				display: table-cell;
				border: 1px solid black;
				vertical-align: middle;
				height: 20px;
				padding: 2px 4px;
				font-size: 11px;	
				overflow: hidden;
			}

			th {
				padding: 4px;
			}
		}

		&.borderless {
			tr {
				th, td {
					border: none;
				}
			}
		}
	}

	.products{
		width: 100%;

		tr {
			th, td {
				text-align: center;

				&:nth-child(1) {
					width: 40%;
				}

				&:nth-child(2), &:nth-child(3) {
					width: 4%;
				}

				&:nth-child(5), &:nth-child(6) {
					width: 7%;	
				}

				&:nth-child(4), &:nth-child(7) {
					width: 8%;
				}

				&:nth-child(8) {
					width: auto;
				}
			}

			td:first-child {
				text-align: left;
			}
		}
	}

	.payment {
		tr {
			th, td {
				text-align: left !important;
				border: 1px solid black !important;

				&:first-child {
					width: 20px;
				}

				&:nth-child(2) {
					width: 80px;
				}

				&:last-child {
					width: 50px;
				}
			}
		}

		thead {
			tr {
				&:first-child {
					background-color: #cdcdcd;
				}
			}
		}
	}

	.note {
		border: 1px solid black;
		padding: 4px;
		margin-left: 16px;
		min-height: 40px;

		p {
			margin: 0px;
			font-size: 11px;
		}
	}
}