/*
* @Author: egmfilho
* @Date:   2017-05-26 13:06:07
* @Last Modified by:   egmfilho
* @Last Modified time: 2017-06-07 16:14:55
*/

.scrollbar1 {
	&::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
		border-radius: 10px;
		background-color: #F5F5F5;
	}

	&::-webkit-scrollbar {
		width: 12px;
		height: 12px;
		background-color: #F5F5F5;
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 10px;
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
		background-color: #D62929;
	}
}

* {
	&::-webkit-scrollbar-track {
		// -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
		border-left: 1px solid #e1e1e1;
		background-color: #F5F5F5;
	}

	&::-webkit-scrollbar {
		width: 10px;
		height: 10px;
		background-color: #F5F5F5;
	}

	&::-webkit-scrollbar-thumb {
		background-color: $secondary-color;
		// border: 1px solid lighten($main-color, 20%);
	}
}

