/*
 * @Author: egmfilho <egmfilho@live.com>
 * @Date:   2017-07-25 13:54:12
 * @Last Modified by: egmfilho
 * @Last Modified time: 2017-11-08 13:32:17
 */

.settings {
	background-color: white;

	> md-toolbar {
		position: relative;
		z-index: 3;
	}

	md-sidenav {
		max-width: 300px;
		background-color: #232324;
		z-index: 2;

		md-content {
			background-color: transparent;

			.btn-close {
				color: white;
				background-color: transparent;
				text-align: left;
				text-transform: capitalize;
				font-size: 16px;
				margin: 0;
				padding: 16px;
				border-top: 1px solid #323234;

				.fa {
					font-size: 32px;
					margin-right: 34px;
					vertical-align: sub;
					line-height: 24px;
				}
			}
		}

		md-list {
			padding: 0;
			
			md-list-item {
				color: white;
				border-bottom: 1px solid #323234;

				&.active {
					background-color: $secondary-color;
				}
				
				md-icon {
					font-size: 32px;
					margin: 0;
					color: white;
				}
			}
		}
	}

	.views {
		overflow-y: auto;

		.view {
			height: auto;

			.form-container {
				background-color: white;
		
				.form {
		
					.form-body {
						padding: 16px;
					}
				}
			}

			.md-subheader-inner {
				font-size: 22px;
				color: white;
				background-color: $main-color-lighter;
				padding: 21px;
				z-index: 1;

				box-shadow: 0 2px 4px rgba(#000, .3);

				.fa {
					margin-right: 16px;
				}
			}

			dl {
				width: 100%;
				overflow: hidden;
		
				dt {
					min-width: 200px;
					text-align: right;
					float: left;
					clear: left;
					padding: 15px;
					line-height: 35px;
				}
		
				dd {
					padding: 15px;
		
					input {
						min-width: 250px;
						padding: 6px;
					}

					textarea {
						min-width: 350px;
						min-height: 120px;
						padding: 6px;
						resize: none;
						border-color: #ccc;
					}
		
					md-switch {
						margin: 3px !important;
					}
				}
			}
		}
	}

	@import "settings/users";
	@import "settings/connections";
	@import "settings/general";
	@import "settings/companies";
}