/*
* @Author: egmfilho
* @Date:   2017-06-07 13:57:12
* @Last Modified by:   egmfilho
* @Last Modified time: 2017-07-20 13:27:47
*/

.offset-top-5 {
	margin-top: 5px !important;
}

.offset-top-15 {
	margin-top: 15px !important;
}

.offset-top-30 {
	margin-top: 30px !important;
}

.offset-top-60 {
	margin-top: 60px !important;
}

.offset-bottom-5 {
	margin-bottom: 5px !important;
}

.offset-bottom-15 {
	margin-bottom: 15px !important;
}

.offset-bottom-30 {
	margin-bottom: 30px !important;
}

.offset-bottom-60 {
	margin-bottom: 60px !important;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.text-white {
	color: white !important;
}

.text-primary {
	color: $main-color !important;
}

.text-warning {
	&, * {
		color: $warning-color !important;
	}
}

.text-danger {
	&, * {
		color: $error-color !important;
	}
}

.text-success {
	&, * {
		color: $success-color !important;
	}	
}

.text-light {
	color: #666;
}

.text-400 {
	font-weight: 400 !important;
}

.label {
	padding: 2px 4px;
	border-radius: 4px;
	font-weight: bold;
	letter-spacing: .25px;
	font-size: 11px;
	font-family: Verdana;
	line-height: 14px;
	background-color: #e7e7e7;
	color: #555;

	&.label-success {
		background-color: $success-color;
		color: #f5f5f5;		
	}

	&.label-error {
		background-color: $error-color;
		color: #f5f5f5;		
	}
}

.btn-teal {
	background-color: $teal-color !important;
}

.btn-info {
	background-color: $info-color !important;
}

.btn-success {
	background-color: $success-color !important;
}

.btn-warning {
	background-color: $warning-color !important;
}

.btn-danger {
	background-color: $error-color !important;
}