/*
* @Author: egmfilho
* @Date:   2017-05-26 16:09:13
* @Last Modified by:   egmfilho
* @Last Modified time: 2017-05-31 13:44:07
*/

@import "../../bower_components/angular-material/angular-material.scss";

$main-color: #607D8B;
$main-color-darker: darken($main-color, 15%);
$main-color-dark: darken($main-color, 10%);
$main-color-light: lighten($main-color, 10%);
$main-color-lighter: lighten($main-color, 15%);

$secondary-color: #F99F57;

header {
	md-toolbar {
		min-height: 32px;
		height: 32px;

		.md-toolbar-tools {
			h2 {
				font-size: 16px;
			}
		}
	}
}

footer {
	md-toolbar {
		min-height: 24px;
		font-size: .8em;
	}
}

md-toast {
	.md-toast-content {
		text-align: center;
	}

	&.error .md-toast-content{
		background-color: #F44336;
		color: white;
	}

	&.success .md-toast-content {
		background-color: #4CAF50;
		color: white;
	}
}

@import "scrollbar";
@import "prevent-highlight";
@import "customDialog";
@import "login";
@import "order";
@import "order-tab";