/*
* @Author: egmfilho
* @Date:   2017-05-26 16:09:13
* @Last Modified by:   egmfilho
* @Last Modified time: 2017-06-01 16:47:50
*/

@import "../../bower_components/angular-material/angular-material.scss";

$main-color: #607D8B;
$main-color-darker: darken($main-color, 15%);
$main-color-dark: darken($main-color, 10%);
$main-color-light: lighten($main-color, 10%);
$main-color-lighter: lighten($main-color, 15%);

$secondary-color: #F99F57;

.material-icons {
	font-size: 1em;
	width: auto;
	height: auto;
}

header {
	md-toolbar {
		min-height: 32px;
		height: 32px;

		.md-toolbar-tools {
			h1 {
				font-size: 16px;
			}

			md-menu {
				display: flex;
				flex-direction: row;
				align-items: center;
				height: 32px;
				max-height: 32px;
				margin: 0;
				padding: 0;
			}
		}
	}
}

footer {
	md-toolbar {
		min-height: 24px;
		font-size: .8em;
	}
}

md-toast {
	.md-toast-content {
		text-align: center;
	}

	&.error .md-toast-content{
		background-color: #F44336;
		color: white;
	}

	&.success .md-toast-content {
		background-color: #4CAF50;
		color: white;
	}
}

.hint {
	color: rgba(#000, .6);
	font-weight: 200;
}

@import "scrollbar";
@import "prevent-highlight";
@import "mainMenu";
@import "customDialog";
@import "login";
@import "order";
@import "order-tab";