/*
* @Author: egmfilho
* @Date:   2017-05-26 16:09:13
* @Last Modified by:   egmfilho
* @Last Modified time: 2017-06-23 17:11:01
*/

@import "../../bower_components/angular-material/angular-material.scss";

$error-color: #F44336;
$success-color: #4CAF50;

$main-color: #607D8B;
$main-color-darker: darken($main-color, 15%);
$main-color-dark: darken($main-color, 10%);
$main-color-light: lighten($main-color, 10%);
$main-color-lighter: lighten($main-color, 15%);

$secondary-color: #F99F57;

body {
	min-width: 950px !important;
	overflow-x: auto;
}

.material-icons {
	font-size: 1em;
	width: auto;
	height: auto;
}

header {
	md-toolbar {
		min-height: 32px;
		height: 32px;

		.md-toolbar-tools {
			h1 {
				font-size: 16px;
			}

			md-menu {
				display: flex;
				flex-direction: row;
				align-items: center;
				height: 32px;
				max-height: 32px;
				margin: 0;
				padding: 0;
			}
		}
	}
}

footer {
	md-toolbar {
		min-height: 24px;
		font-size: .8em;
	}
}

md-toast {
	.md-toast-content {
		text-align: center;
	}

	&.error .md-toast-content{
		background-color: $error-color;
		color: white;
	}

	&.success .md-toast-content {
		background-color: $success-color;
		color: white;
	}
}

.query-select-container {

	md-content._md {
		max-height: 240px;
		padding: 0;
	}

	.select-header {
		height: 32px;
		position: relative;
		display: flex;
		align-items: center;
		width: auto;
		padding: 1px;
		border-bottom: 1px solid #e6e6e6;
		
		input {
			border: none;
			outline: none;
			height: 100%;
			width: 100%;
			padding-left: 10px;
		}
	}

	md-opt-group {
		md-option {
			height: 32px;
		}
	}
}

.well {
	margin: 0;
	padding: 5px;
	background-color: whitesmoke;
	border: 1px solid #d7d7d7;
	font-weight: 300;
}

@import "utils";
@import "scrollbar";
@import "prevent-highlight";
@import "mainMenu";
@import "customDialog";
@import "login";
@import "afterLogin";
@import "logout";
@import "order";
@import "open-order";
@import "order-tab";