/*
* @Author: egmfilho
* @Date:   2017-05-26 16:09:13
* @Last Modified by:   egmfilho
* @Last Modified time: 2017-07-10 16:29:45
*/

@import "../../bower_components/angular-material/angular-material.scss";

$min-width: 840px;
$max-document-width: 960px;

$error-color: #F44336;
$success-color: limegreen;

$main-color: #607d8b;
$main-color-darker: darken($main-color, 15%);
$main-color-dark: darken($main-color, 10%);
$main-color-light: lighten($main-color, 8%);
$main-color-lighter: lighten($main-color, 13%);

$secondary-color: #F99F57;
// $secondary-color: #f58634;

body {
	min-width: $min-width !important;
	overflow-x: auto;
}

.material-icons {
	font-size: 1em;
	width: auto;
	height: auto;
}

header {
	md-toolbar {
		min-height: 32px;
		height: 32px;

		.md-toolbar-tools {
			h1 {
				font-size: 16px;
			}

			md-menu {
				display: flex;
				flex-direction: row;
				align-items: center;
				height: 32px;
				max-height: 32px;
				margin: 0;
				padding: 0;
			}
		}
	}
}

footer {
	md-toolbar {
		min-height: 24px;
		font-size: .8em;
	}
}

.custom-toast {
	margin-right: 8px;
	margin-bottom: 24px;

	.md-toast-content {
		padding: 4px;
		min-width: 380px;
		background-color: white;
		color: #777;

		.logo {
			width: 100%;
			height: 100%;
			padding: 10px;

			div {
				width: 100%;
				height: 100%;
				background-image: url('../images/LOGO 2017.png');
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
			}
		}
		
		.info {
			padding: 4px;
			padding-left: 10px;
			font-size: 1.2em;

			.md-title {
				text-align: left;
				font-size: 1em;
			}

			.md-subhead {
				text-align: left;
				font-size: .8em;
				line-height: 1.2em;
			}

			button.md-button {
				margin: 0;
				color: $main-color;
			}
		}
	}
}

.query-select-container {

	md-content._md {
		max-height: 240px;
		padding: 0;
	}

	.select-header {
		height: 32px;
		position: relative;
		display: flex;
		align-items: center;
		width: auto;
		padding: 1px;
		border-bottom: 1px solid #e6e6e6;
		
		input {
			border: none;
			outline: none;
			height: 100%;
			width: 100%;
			padding-left: 10px;
		}
	}

	md-opt-group {
		md-option {
			height: 32px;
		}
	}
}

.well {
	margin: 0;
	padding: 5px;
	background-color: whitesmoke;
	border: 1px solid #d7d7d7;
	font-weight: 300;
}

.md-calendar-scroll-mask {
	height: 260px;
}

@import "utils";
@import "scrollbar";
@import "prevent-highlight";
@import "mainMenu";
@import "customDialog";
@import "login";
@import "afterLogin";
@import "logout";
@import "order";
@import "open-order";
@import "print-order";