/*
* @Author: egmfilho
* @Date:   2017-05-26 16:09:13
* @Last Modified by:   egmfilho
* @Last Modified time: 2017-08-31 08:26:06
*/


@import "../../bower_components/angular-material/angular-material.scss";

$min-width: 840px;
$max-document-width: 960px;

$error-color: #F44336;
$warning-color: #FFC107;
$success-color: #4CAF50;
$info-color: #2196f3;
$teal-color: #009688;

// $main-color: #607d8b; original
$main-color: #4b4b4d;
$main-color-darker: darken($main-color, 15%);
$main-color-dark: darken($main-color, 10%);
$main-color-light: lighten($main-color, 8%);
$main-color-lighter: lighten($main-color, 13%);

// $secondary-color: #F99F57; original
$secondary-color: #f98444;
$secondary-color-darker: darken($secondary-color, 15%);
$secondary-color-dark: darken($secondary-color, 10%);
$secondary-color-light: lighten($secondary-color, 10%);;
$secondary-color-lighter: lighten($secondary-color, 15%);;
// $secondary-color: #f58634;

$border-color: darken(#d7d7d7, 30%);

$order-color: #f99f57;
$dav-color: #2196f3;

body {
	min-width: $min-width !important;
	overflow-x: auto;
}

* {
	-webkit-font-smoothing: aliased;
}

small {
	font-size: 10px;
	vertical-align: 3px;
}

.material-icons {
	font-size: 1em;
	width: auto;
	height: auto;
}

button {
	&:disabled {
		opacity: .5;
		cursor: not-allowed !important;

		*, *::before {
			cursor: not-allowed !important;
		}
	}
}

header {
	md-toolbar {
		min-height: 32px;
		height: 32px;

		.md-toolbar-tools {
			h1 {
				font-size: 16px;
			}

			md-menu {
				display: flex;
				flex-direction: row;
				align-items: center;
				height: 32px;
				max-height: 32px;
				margin: 0;
				padding: 0;
			}
		}
	}
}

footer {
	md-toolbar {
		min-height: 24px;
		font-size: .8em;
	}
}

md-input-container {
	&.buttonned {
		position: relative;

		button {
			position: absolute;
			right: 0;
			font-size: 20px;
			background: transparent;
			border: none;
			padding-top: 6px;
			color: $main-color;
		}
	}
}

.cloud-open {
	color: #4caf50;

	&:after {
		content: 'cloud_queue';
	}
}

.cloud-exported {
	&:after {
		content: 'cloud';
	}
}

.cloud-billed {
	&:after {
		content: 'cloud_done';
	}
}

.gatito {
	md-autocomplete md-progress-linear.md-inline {
		bottom: 6px;
	}
}

.container-table-header {
	padding-top: 14px;
	padding-right: 10px;
	border: 1px solid $border-color;
	border-bottom: none;
}

.container-table {
	border-color: $border-color !important;
}

table.table {
	width: 100%;
	border-collapse: collapse;

	tr {
		display: table-row !important;
		background-color: white;

		th, td {
			display: table-cell !important;
			padding: 1px 5px;
		}
	}

	thead tr th {
		text-align: left;
		color: rgba(#000, .8);
		font-size: 12px;
		font-weight: bold;
		padding-bottom: 12px;

		&.sortable {
			cursor: pointer !important;

			* {
				cursor: pointer !important;
			}
		}
	}

	tbody tr {
		// transition: background-color .5s ease;

		&.ng-animate {
			transition: 0s none;
		}

		&:hover, .active, &:focus {
			background-color: lighten($main-color-lighter, 20%) !important;
			td {
				color: white !important;

				button .text-primary{
					color: white !important;
				}
			}
		}

		td {
			color: rgba(#000, .6);
			font-size: 12px;
			vertical-align: middle !important;
			padding: 10px 5px;

			button.md-button.md-icon-button {
				margin: 0;
				margin-top: 8px;
				width: 24px !important;
				height: 24px !important;
				min-height: 24px;
				max-height: 24px;
				padding: 0 !important;
				font-size: 17px;
			}
		}
	}
}

table.contacts-table {
	@extend .table;

	tbody tr {
		border-bottom: 1px solid $border-color;

		&:last-child {
			border-bottom: none;
		}

		&:hover {
			td {
				color: $main-color !important;
			}
		}
		
		td {
			padding: 0 !important;
			height: 26px;

			&:first-child {
				text-align: right;
				padding-right: 5px !important;
				background-color: #e7e7e7;
				border-right: 1px solid $border-color;
			}

			&:last-child {
				display: block;
				
				input {
					box-sizing: border-box;
					display: block;
					width: 100%;
					height: 100%;
					padding: 0 2px;
					border: none;
					padding-left: 5px !important;
				}
			}
		}
	}
}

.custom-toast {
	margin-right: 8px;
	margin-bottom: 24px;

	.md-toast-content {
		padding: 4px;
		min-width: 380px;
		background-color: white;
		color: #777;

		.logo {
			width: 100%;
			height: 100%;
			padding: 10px;

			div {
				width: 100%;
				height: 100%;
				background-image: url('../images/logo-full.png');
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
			}
		}
		
		.info {
			padding: 4px;
			padding-left: 10px;
			font-size: 1.2em;

			.md-title {
				text-align: left;
				font-size: 1em;
			}

			.md-subhead {
				text-align: left;
				font-size: .8em;
				line-height: 1.2em;
			}

			button.md-button {
				margin: 0;
				color: $main-color;
			}
		}
	}
}

.query-select-container {

	md-content._md {
		max-height: 240px;
		padding: 0;
	}

	.select-header {
		height: 32px;
		position: relative;
		display: flex;
		align-items: center;
		width: auto;
		padding: 1px;
		border-bottom: 1px solid $main-color-lighter;

		.fa-search {
			opacity: .5;
		}

		.fa-times-circle {
			opacity: .7;
		}
		
		input {
			border: none;
			outline: none;
			height: 100%;
			width: 100%;
			padding-left: 10px;
		}

		button {
			background-color: transparent;
			border: none;
		}
	}

	md-opt-group {
		md-option {
			height: 32px;
		}
	}
}

.well {
	margin: 0;
	padding: 5px;
	background-color: whitesmoke;
	border: 1px solid $border-color;
	font-weight: 300;

	&.well-sm {
		padding: 1px;
	}
}

.md-calendar-scroll-mask {
	height: 260px;
}

md-tabs.mussum {		
	border: 1px solid $border-color;
	border-radius: 0;
	background-color: #f5f5f5;
	min-height: 220px;
	// height: 365px;

	md-tabs-wrapper {
		border-color: $border-color;
	}

	.inner-text {
		text-shadow: -1px -1px 1px rgba(0,0,0,0.3);
		color: #e1e1e1;
		font-size: 32px;
		font-weight: 500;
	}

	md-content { 
		background-color: transparent !important;
		padding: 10px 15px;

		.delivery-address {
			.md-toolbar-tools {
				background-color: white;
				color: $main-color;
				font-size: .7em;
				border-top: 1px solid $border-color;
			}
		}
	}

	md-tab-content {
		background-color: #f5f5f5;
	}

	md-tabs-wrapper {
		background-color: white;
	}

	md-card {
		border: 3px solid white;
		min-height: 135px;
		height: 135px;

		b {
			color: #6a6a6a;
		}

		button { 
			float: right;
		}

		&.active {
			border-color: $secondary-color;
		}

		md-card-content {
			padding: 8px;

			p {
				margin: 0;
			}
		}

		&.dashed-empty-card {
			border-style: dashed;
			border-color: #e1e1e1;
			background-color: transparent;
			box-shadow: none;

			p {
				font-weight: bold !important;
			}
		}

		&.new-address-card {
			height: auto;
			margin: 0;

			md-card-content {
				md-switch {
					margin: 0;

					.md-label {
						color: #555;
					}
				}
			}
		}
	}
}

.custom-textarea {
	display: block;
	
	label {
		display: block;
		margin-bottom: 10px;
	}

	textarea {
		display: block;
		width: 100%;
		height: 100px;
		resize: none;
		border: 1px solid $border-color !important;
		box-sizing: border-box;
		padding: 4px;

		&:focus {
			border: 2px solid $main-color-lighter !important;
		}
	}
}

.irineu {
	background-color: $secondary-color;
	margin-bottom: 16px;
	padding: 16px;
	max-height: 60px;
	color: white;
	font-size: 20px;
	box-sizing: border-box;
}

/* cor das fontes */

table.table tr{
	th, td{
		color: rgba(0, 0, 0, .65) !important;
	}

	&.text-danger td {
		&, * {
			color: $error-color !important;
		}
	}
}

md-input-container label{
	color: rgba(0, 0, 0, .8) !important;
}

input, select{
	color: rgba(0, 0, 0, .8) !important;
}

md-select md-select-value span{
	color: rgba(0, 0, 0, .8) !important;
}

@import "scrollbar";
@import "prevent-highlight";
@import "mainMenu";
@import "customDialog";
@import "modalPerson";
@import "modalPersonCheck";
@import "modalProduct";
@import "modalClientInfo";
@import "modalCep";
@import "login";
@import "afterLogin";
@import "logout";
@import "order";
@import "open-order";
@import "print-order";
@import "mail-order";
@import "config";

@import "utils";

*:not(.fa):not(.material-icons) {
	@media only screen {
		font-weight: 600 !important;
	}
}

md-input-container {
	&:not(.md-input-invalid) .md-input:enabled, md-select:not([disabled]) .md-select-value {
		border-color: $border-color;
	}
}