.connections(flex layout='row')

	.content(flex layout='column')
		
		div(layout='row' layout-wrap)

			.form-container(flex='50')
				.form(name='mail').md-whiteframe-1dp
					.title
						| Email

					div(layout='row' layout-wrap)
						.icon-input(layout='row' layout-align='start center' flex='70')
							i.fa.fa-user-circle-o
							md-input-container(flex)
								label Nome do remetente
								input()
						
						div(flex='30' layout='row' layout-align='center center')
							md-switch.text-primary(style='margin: 16px 0 0 0')
								| SMTP

						.icon-input(layout='row' layout-align='start center' flex='70')
							i.fa.fa-cloud
							md-input-container(flex)
								label Servidor de saída
								input()

						.icon-input(layout='row' layout-align='start center' flex='30')
							i.fa.fa-info-circle
							md-input-container(flex)
								label Porta
								input()

						.icon-input(layout='row' layout-align='start center' flex='50')
							i.fa.fa-envelope
							md-input-container(flex)
								label Email
								input()

						.icon-input(layout='row' layout-align='start center' flex='50')
							i.fa.fa-lock
							md-input-container(flex)
								label Senha
								input(type='password')

						//- div(layout='row' flex='100')
							span(flex)
							
							md-switch.text-primary(md-invert)
								| Autenticação SMTP

					.offset-top-30(layout='row')
						span(flex)

						md-button.md-raised.text-primary(ng-click='')
							i.fa.fa-retweet &nbsp;
							| Testar

						md-button.md-raised.md-primary(ng-click='')
							i.fa.fa-floppy-o &nbsp;
							| Salvar
			
			.form-container(flex='50')
				.form(name='connection').md-whiteframe-1dp
					.title
						| Conexão
				
					div(layout='row' layout-wrap)
						.icon-input(layout='row' layout-align='start center' flex='100')
							i.fa.fa-server
							md-input-container(flex)
								label Servidor
								input()

						.icon-input(layout='row' layout-align='start center' flex='100')
							i.fa.fa-database
							md-input-container(flex)
								label Base
								input()

						.icon-input(layout='row' layout-align='start center' flex='50')
							i.fa.fa-user
							md-input-container(flex)
								label Usuário
								input()

						.icon-input(layout='row' layout-align='start center' flex='50')
							i.fa.fa-lock
							md-input-container(flex)
								label Senha
								input(type='password')

					.offset-top-30(layout='row')
						span(flex)

						md-button.md-raised.text-primary(ng-click='')
							i.fa.fa-retweet &nbsp;
							| Testar

						md-button.md-raised.md-primary(ng-click='')
							i.fa.fa-floppy-o &nbsp;
							| Salvar