.general(flex layout='row')

	.content(flex layout='column')
		
		div(layout='row' layout-wrap)

			.form-container(flex='50')
				.form(name='order-warning').md-whiteframe-1dp
					.title
						| Mensagem do orçamento

					div(layout='column')
						.icon-input(layout='row' layout-align='start center')
							md-input-container(flex style='height: auto')
								label Mensagem
								textarea(rows='3')

						div(layout='row')
							span(flex)

							md-button.md-raised.md-primary(ng-click='')
								i.fa.fa-floppy-o &nbsp;
								| Salvar