div(role='dialog' layout='column' layout-align='center center')
	md-toolbar
		.md-toolbar-tools
			h2 {{ctrl._title}}
			span(flex)
			md-button.md-icon-button
				md-icon(md-font-icon='fa fa-times' ng-click='ctrl._closeDialog()')
	.body(flex)
		.dialog-content(layout='column')
			div(layout='row' layout-wrap ng-if='ctrl._templateUrl' ng-include='ctrl._templateUrl')
			div(ng-if='!ctrl._templateUrl')
				p {{ctrl._message}}
	.footer(flex)
		.dialog-footer(layout='row')
			md-button.md-raised.md-primary(ng-click='ctrl.positiveButton.action()' ng-if='ctrl.positiveButton') 
				| &nbsp; {{ctrl.positiveButton.label}} &nbsp;
			md-button.md-raised.md-primary(md-autofocus ng-click='ctrl._closeDialog()') 
				| &nbsp; Fechar &nbsp;