div(role='dialog' layout='column')
	md-toolbar
		.md-toolbar-tools
			h2 {{ctrl._title}}
			span(flex)
			md-button.md-icon-button(ng-if='ctrl._showCloseButton')
				md-icon(md-font-icon='fa fa-times' ng-click='ctrl._cancel()')
	
	.body(flex ng-if='!ctrl._templateUrl' layout-fill)
		.dialog-content(layout='column')
			div(layout='row' layout-align='start center')
				md-progress-circular(md-mode='indeterminate' md-diameter='30px' ng-if='ctrl._showProgress')
				md-icon(md-font-set='material-icons' ng-if='ctrl._showConfirmSign') help
				md-icon(md-font-set='material-icons' ng-if='ctrl._showInfoSign') info
				div(flex='5')
				p(ng-bind-html='ctrl._message')

	.footer(layout='row' layout-align='end center' layout-fill ng-if='!ctrl._templateUrl')
		md-button.md-primary(name='positive' ng-click='ctrl._close()' ng-if='ctrl._positiveButtonText') 
			| &nbsp; {{ctrl._positiveButtonText}} &nbsp;
		md-button.md-primary(name='negative' md-autofocus ng-click='ctrl._cancel()' ng-if='ctrl._negativeButtonText') 
			| &nbsp; {{ctrl._negativeButtonText}} &nbsp;
	
	div(layout='column' ng-if='ctrl._templateUrl' ng-include='ctrl._templateUrl')