div(role='dialog' layout='column' layout-align='center center')
	md-toolbar
		.md-toolbar-tools
			h2 {{ctrl._title}}
			span(flex)
			md-button.md-icon-button(ng-if='!ctrl._unclosable')
				md-icon(md-font-icon='fa fa-times' ng-click='_reject()')
	.body(flex)
		.dialog-content(layout='column')
			div(layout='column' ng-if='ctrl._templateUrl' ng-include='ctrl._templateUrl')
			div(layout='row' layout-align='start center' ng-if='!ctrl._templateUrl')
				md-progress-circular(md-mode='indeterminate' md-diameter='30px')
				div(flex='5')
				p {{ctrl._message}}
	.footer(flex ng-if='!ctrl._unclosable')
		.dialog-footer(layout='row')
			md-button.md-raised.md-primary(ng-click='positiveButton.action()' ng-if='positiveButton') 
				| &nbsp; {{positiveButton.label}} &nbsp;
			md-button.md-raised.md-primary(md-autofocus ng-click='_negativeButton.action()') 
				| &nbsp; {{_negativeButton.label}} &nbsp;