md-content(layout='column' ng-controller='MainMenuCtrl as mainMenu')
	.user(layout='row' layout-wrap)
		.avatar(flex='25')
			md-icon(md-font-set='material-icons') account_circle
		.description(flex)
			p 
				b {{mainMenu.currentUser.user_name}}
				br
				| {{mainMenu.currentUser.user_mail}}
				br
				| Último login: {{mainMenu.currentUser.user_last_session.user_session_date | date:'short'}}

	.modules(layout='row' layout-wrap)
		.module(flex='50' layout-align='center')
			md-button(ng-click='ctrl._goTo("/")')
				.home-module
					md-icon(md-font-set='material-icons') home
				p Início

		.module(flex='50' layout-align='center')
			md-button(ng-click='ctrl._goTo("/order/new")')
				.order-module
					md-icon(md-font-set='material-icons') description
				p Orçamento
	.modules(layout='row' layout-wrap)
		.module(flex='50' layout-align='center')
			md-button(ng-click='ctrl._goTo()')
				.settings-module
					md-icon(md-font-set='material-icons') build
				p Ajustes

		.module(flex='50' layout-align='center')
			md-button(ng-click='ctrl._goTo("/logout")')
				.logout-module
					md-icon(md-font-set='material-icons') exit_to_app
				p Logout