md-content(layout='column')
	.user(layout='row' layout-wrap)
		.avatar(flex='25')
			md-icon(md-font-set='material-icons') account_circle
		.description(flex)
			p 
				b Eduardo Miranda
				br
				| egmfilho@live.com

	.modules(layout='row' layout-wrap)
		.module(flex='50' layout-align='center')
			a(href='#/' ng-click='ctrl._close()')
				.home-module
					md-icon(md-font-set='material-icons') home
				p Início

		.module(flex='50' layout-align='center')
			a(href='#/order' ng-click='ctrl._close()')
				.order-module
					md-icon(md-font-set='material-icons') description
				p Orçamento
	.modules(layout='row' layout-wrap)
		.module(flex='50' layout-align='center')
			a(href='' ng-click='ctrl._close()')
				.settings-module
					md-icon(md-font-set='material-icons') build
				p Ajustes

		.module(flex='50' layout-align='center')
			a(href='' ng-click='ctrl._close()')
				.logout-module
					md-icon(md-font-set='material-icons') exit_to_app
				p Logout