span(ng-mouseenter='ctrl.stopTimer()' ng-mouseleave='ctrl.tick()')
	.body.modal-saved(layout='column' layout-fill layout-align='center center')
		span.md-title
			| Cód: {{ctrl.order_code}}

		span.md-title(ng-if='ctrl.order_code_erp')
			| {{ctrl.order_export_type == 'dav' ? 'DAV' : 'Pedido'}}: {{ctrl.order_code_erp}}

		span.md-subhead.offset-top-5
			| {{ctrl.msg}}
		
		.offset-top-15(layout='row')
			md-button.md-fab.md-raised.md-primary(ng-click='ctrl._close("print")' md-colors="{background: 'green'}")
				md-tooltip(md-direction='bottom') Imprimir
				md-icon(md-font-icon='fa fa-2x fa-print')

			md-button.md-fab.md-raised.md-primary(ng-click='ctrl._close("cupon")' md-colors="{background: 'indigo'}")
				md-tooltip(md-direction='bottom') Imprimir em cupom
				md-icon(md-font-set='material-icons') receipt
			
			md-button.md-fab.md-raised.md-primary(ng-click='ctrl._close("mail")' md-colors="{background: 'teal'}")
				md-tooltip(md-direction='bottom') Enviar por email
				md-icon(md-font-icon='fa fa-2x fa-envelope-o')
		
			md-button.md-fab.md-raised.md-primary(ng-click='ctrl._close("order")' md-colors='{background: "commercialOrange"}' ng-if='!ctrl.order_code_erp')
				md-tooltip(md-direction='bottom') Exportar Pedido
				md-icon(md-font-icon='fa fa-2x fa-cloud-upload')
		
			md-button.md-fab.md-raised.md-primary(ng-click='ctrl._close("dav")' md-colors='{background: "commercialBlue"}' ng-if='!ctrl.order_code_erp')
				md-tooltip(md-direction='bottom') Exportar DAV
				md-icon(md-font-icon='fa fa-2x fa-upload')

	.footer.bordered(layout='row' layout-align='end center')
		md-button.md-primary.md-raised(name='positive' ng-click='ctrl._cancel()')
			| &nbsp; Fechar ({{ctrl.timer}}) &nbsp;