.irineu(layout='row' layout-align='start center' layout-fill)
	i.fa.fa-lock
	span Autorização

.body(layout='column')
	.offset-bottom-15(layout='row' layout-align='start center' ng-if='ctrl.title') 
		i.fa(ng-if='ctrl.icon' ng-class='ctrl.icon')
		span.md-subhead {{ctrl.title}}
	
	.offset-bottom-15.well(flex ng-bind-html='ctrl.text | trusted' ng-if='ctrl.text')

	.offset-bottom-15(compile='ctrl.template' ng-if='ctrl.template')

	div(layout='{{ctrl.inputLayout}}')
		md-input-container
			label 
				| Nome de usuário
			input(type='text' ng-model='ctrl.user' keys-shortcuts enter='ctrl.advance()')

		md-input-container
			label 
				| Senha
			input(type='password' ng-model='ctrl.pass' keys-shortcuts enter='ctrl.authorize(ctrl.user, ctrl.pass)')


.footer(layout='row' layout-align='end center')
	md-button.md-raised(ng-click='ctrl._cancel()')
		| &nbsp; 
		i.fa.fa-remove &nbsp; 
		| Cancelar &nbsp;

	md-button.md-raised(ng-click='ctrl.authorize(ctrl.user, ctrl.pass)' md-colors='{background: "commercialGreen"}')
		| &nbsp;
		i.fa.fa-check &nbsp;
		| Autorizar &nbsp;
	