.body(flex='100' layout='column' layout-fill)
	
	div(layout="row")
		md-input-container(flex="80")
			label Nome ou Classificação
			input(ng-model="ctrl.filter.name" keys-shortcuts enter="ctrl.search()")
		
		md-input-container
			md-switch(ng-model='ctrl.filter.active' style="margin:0;")
				| Somente Ativos

		md-button.md-raised(ng-click='ctrl.search()' flex="15" style="margin-right:0;")
			| Buscar

	div(flex layout='column' style='margin-top: 20px')
		.product-table-header-container
			table.product-table.table
				thead
					tr
						th(ng-show='ctrl.multiSelection') &nbsp;
						th.sortable(ng-click="ctrl.sortBy('product_code')")
							| CÓDIGO &nbsp;
							i.fa(ng-show="ctrl.grid.propertyName === 'product_code'" ng-class="!ctrl.grid.reverse ? 'fa-sort-amount-asc' : 'fa-sort-amount-desc'")
						th.sortable(ng-click="ctrl.sortBy('product_classification')")
							| CLASS. &nbsp;
							i.fa(ng-show="ctrl.grid.propertyName === 'product_classification'" ng-class="!ctrl.grid.reverse ? 'fa-sort-amount-asc' : 'fa-sort-amount-desc'")
						th.sortable(ng-click="ctrl.sortBy('product_name')")
							| NOME &nbsp;
							i.fa(ng-show="ctrl.grid.propertyName === 'product_name'" ng-class="!ctrl.grid.reverse ? 'fa-sort-amount-asc' : 'fa-sort-amount-desc'")
						th.sortable(ng-click="ctrl.sortBy('product_prices[0].price_value')")
							| PREÇO &nbsp;
							i.fa(ng-show="ctrl.grid.propertyName === 'product_prices[0].price_value'" ng-class="!ctrl.grid.reverse ? 'fa-sort-amount-asc' : 'fa-sort-amount-desc'")
						th.sortable(ng-click="ctrl.sortBy('stock.product_stock')")
							| ESTOQUE &nbsp;
							i.fa(ng-show="ctrl.grid.propertyName === 'stock.product_stock'" ng-class="!ctrl.grid.reverse ? 'fa-sort-amount-asc' : 'fa-sort-amount-desc'")
		.container-table(flex)
			table.product-table.table(name='clementino')
				tbody
					tr(ng-repeat='p in ctrl.result | orderBy:ctrl.grid.propertyName:ctrl.grid.reverse' layout='row' ng-dblclick='ctrl.select(p)' ng-class="{'inactive':p.product_active=='N', 'sold-out': p.stock.product_stock <= 0}" keys-shortcuts enter='ctrl.select(p)')
						td(ng-show='ctrl.multiSelection') 
							md-checkbox(ng-checked='!!ctrl.isSelected(p)' ng-click='ctrl.addProduct(p)' ng-disabled='p.product_active == "N"')
						td {{::p.product_code}}
						td {{::p.product_classification}}
						td {{::p.product_name}}
						td {{::p.product_prices[0].price_value | currency: 'R$ '}}
						td {{::p.unit && p.unit.unit_format == "I" ? (p.stock.product_stock | number:'0') : p.stock.product_stock}} ({{p.unit.unit_initials}}) 

	div(layout='column')
		.bar
			md-toolbar
				.md-toolbar-tools(layout='row')
					div(flex='35')
						i.fa.fa-2x.fa-cubes &nbsp;
						| {{ctrl.result.length > 0 ? ctrl.result.length : 'Nenhum' }} Produto{{ctrl.result.length > 1 ? 's' : '' }} Localizado{{ctrl.result.length > 1 ? 's' : '' }}
						
					.text-center(flex)
						md-button(ng-click='ctrl.showSelection()' ng-if='ctrl.multiSelection')
							| {{ctrl.getSelectionLength() > 0 ? ctrl.getSelectionLength() : 'Nenhum'}} {{ctrl.getSelectionLength() > 1 ? 'selecionados' : 'selecionado'}}

					.text-right(flex='35')
						.legend.inactive
							i.fa.fa-stop
							| Inativo

						.legend.sold-out
							i.fa.fa-stop
							| Sem estoque


.footer(layout='row' layout-align='end center')
	md-button.md-raised.md-primary(ng-click='ctrl.close()')
		| &nbsp; Adicionar &nbsp;

	md-button.md-raised(ng-click='ctrl._cancel()')
		| &nbsp; Fechar &nbsp;