.irineu(layout='row' layout-align='start center' layout-fill)
	i.material-icons monetization_on
	span Informe o desconto

.body(layout='column' layout-fill)
	
	//- span(flex) Desconto máximo permitido: {{ctrl.user.user_max_discount | number:'2'}}%
	
	div(layout='row')
		md-input-container(flex='50')
			label Alíquota %
			input(name='al-discount'
					ng-model='ctrl.al_discount'
					currency trim max-fraction-size='4' number-only symbol="''"
					ng-keypress='ctrl.calcDiscountByAl()'
					keys-shortcuts enter='ctrl.confirm()')
		md-input-container(flex='50')
			label Valor
			input(name='vl-discount'
					ng-model='ctrl.vl_discount' 
					currency symbol="'R$ '"
					number-only
					ng-keypress='ctrl.calcDiscountByVl()'
					keys-shortcuts enter='ctrl.confirm()')

.footer.bordered(layout='row' layout-align='end center')
	md-button.md-raised(name="sendDiscount" ng-click='ctrl.confirm()')
		| &nbsp; Ok &nbsp;