.customer-credit-modal(flex layout='column' layout-fill)
	.body(flex layout='column')
		.credit-table-header-container
			table.table.credit-table
				thead
					tr
						th &nbsp;
						th EMPRESA
						th PESSOA
						th TÍTULO
						th VALOR
						th UTILIZADO
						th DISPONÍVEL
						th EMISSÃO
						th EMPENHADO

		.container-table(flex)
			table.table.credit-table
				tbody
					tr(ng-repeat='c in ctrl.creditArray track by $index' ng-click='ctrl.setActive(c)' ng-dblclick='ctrl.selectCredit(c)' ng-class='{"active": $index == ctrl.activeRow, "text-danger": !!c.pawn}')
						td 
							md-checkbox(ng-model='c.checked' ng-disabled='!!c.pawn')
						td.text-right {{c.company_id}}
						td.text-danger {{ctrl.person.person_name}}
						td {{c.payable_code}}
						td {{c.credit_value | currency:'R$ '}}
						td {{c.credit_value_utilized | currency:'R$ '}}
						td {{c.credit_value_available | currency:'R$ '}}
						td {{c.payable_date | date:'dd/MM/yyyy'}}
						td.text-center {{!!c.pawn ? 'Sim' : 'Não'}}
		.note
			p.text-primary Observação do título
			.well
				| {{ctrl.tempNote}}

	.footer(layout='row' layout-align='end center')
		md-button.md-raised.md-primary(name='positive' ng-click='ctrl.close()')
			| &nbsp; Ok &nbsp;
		md-button.md-raised(name='negative' ng-click='ctrl._cancel()')
			| &nbsp; Cancelar &nbsp;