.body(layout='column')
	.offset-bottom-15(layout='row' layout-align='start center') 
		i.fa(ng-if='ctrl.icon' ng-class='ctrl.icon')
		span(flex ng-bind-html='ctrl.text | trusted')

	md-input-container
		label 
			| Nome de usuário
		input(type='text' ng-model='ctrl.user' keys-shortcuts enter='ctrl.advance()')

	md-input-container
		label 
			| Senha
		input(type='password' ng-model='ctrl.pass' keys-shortcuts enter='ctrl.authorize(ctrl.user, ctrl.pass)')

.footer(layout='row' layout-align='end center')
	md-button.md-raised(ng-click='ctrl._cancel()')
		| &nbsp; 
		i.fa.fa-remove &nbsp; 
		| Cancelar &nbsp;

	md-button.md-raised(ng-click='ctrl.authorize(ctrl.user, ctrl.pass)' md-colors='{background: "commercialGreen"}')
		| &nbsp;
		i.fa.fa-check &nbsp;
		| Autorizar &nbsp;
	