.body(layout='column')
	p 
		i.fa(ng-if='ctrl.icon' ng-class='ctrl.icon')
		| {{ctrl.text}}

	md-input-container
		label 
			| Nome de usuário
		input(type='text' ng-model='ctrl.user' keys-shortcuts enter='ctrl.advance()')

	md-input-container
		label 
			| Senha
		input(type='password' ng-model='ctrl.pass' keys-shortcuts enter='ctrl.authorize(ctrl.user, ctrl.pass)')

.footer(layout='row' layout-align='end center')
	md-button.md-primary.button-red(ng-click='ctrl._cancel()')
		i.fa.fa-remove &nbsp; 
		| &nbsp; Cancelar &nbsp;

	md-button.md-primary.button-green(ng-click='ctrl.authorize(ctrl.user, ctrl.pass)')
		i.fa.fa-check &nbsp;
		| &nbsp; Autorizar &nbsp;
	