.body(layout='column')
	p {{ctrl.text}}

	md-input-container
		label 
			| Nome de usuário
		input(type='text' ng-model='ctrl.user' keys-shortcuts enter='ctrl.advance()')

	md-input-container
		label 
			| Senha
		input(type='password' ng-model='ctrl.pass' keys-shortcuts enter='ctrl.authorize(ctrl.user, ctrl.pass)')

.footer(layout='row' layout-align='end center')
	md-button.md-primary(ng-click='ctrl.authorize(ctrl.user, ctrl.pass)')
		| &nbsp; Autorizar &nbsp;

	md-button.md-primary(ng-click='ctrl._cancel()')
		| &nbsp; Cancelar &nbsp;