md-input-container(flex='66')
	label Nome
	input(ng-model='nome')

md-input-container.md-icon-float(flex='33')
	label
		span Tipo
	md-select(ng-model='tipo')
		md-option(value='F') Pessoa Física
		md-option(value='J') Pessoa Jurídica

md-input-container(flex='33')
	label CPF
	input()

md-input-container(flex='33')
	label CNPJ
	input()

md-input-container(flex='33')
	label Inscrição Estadual
	input()