form(layout='row' layout-wrap name='newCostumerForm')
	md-input-container(flex='66')
		label Nome
		input(ng-model='nome')

	md-input-container.md-icon-float(flex='33')
		label
			span Tipo
		md-select(ng-model='tipo')
			md-option(value='F') Pessoa Física
			md-option(value='J') Pessoa Jurídica

	md-input-container(flex='33')
		label CPF
		input(name='cpf' ng-model='cpf' ng-pattern="/^[0-9]{3}[.][0-9]{3}[.][0-9]{3}-[0-9]{2}$/")
		//- .hint ###.###.###-##
		div(ng-messages='newCostumerForm.cpf.$error')
			div(ng-message='pattern') CPF inválido!

	md-input-container(flex='33')
		label CNPJ
		input()

	md-input-container(flex='33')
		label Inscrição Estadual
		input()