.irineu(layout='row' layout-align='start center' layout-fill)
	i.fa.fa-info
	span Informações do Produto

.body(layout='column' layout-fill)
	
	div(flex layout='column')
		.product-info-table-header-container
			table.product-info-table.table
				thead
					tr
						th.sortable(ng-click="ctrl.sortBy('company_code')")
							| EMPRESA &nbsp;
							i.fa(ng-show="ctrl.grid.propertyName === 'company_code'" ng-class="!ctrl.grid.reverse ? 'fa-sort-amount-asc' : 'fa-sort-amount-desc'")
						th.sortable(ng-click="ctrl.sortBy('product_code')")
							| CÓDIGO &nbsp;
							i.fa(ng-show="ctrl.grid.propertyName === 'product_code'" ng-class="!ctrl.grid.reverse ? 'fa-sort-amount-asc' : 'fa-sort-amount-desc'")
						th.sortable(ng-click="ctrl.sortBy('product_name')")
							| NOME &nbsp;
							i.fa(ng-show="ctrl.grid.propertyName === 'product_name'" ng-class="!ctrl.grid.reverse ? 'fa-sort-amount-asc' : 'fa-sort-amount-desc'")
						th.sortable(ng-click="ctrl.sortBy('product_stock')")
							| ESTOQUE &nbsp;
							i.fa(ng-show="ctrl.grid.propertyName === 'product_stock'" ng-class="!ctrl.grid.reverse ? 'fa-sort-amount-asc' : 'fa-sort-amount-desc'")
						th.sortable(ng-click="ctrl.sortBy('quantity_purchased')")
							| QT. COMPRADA &nbsp;
							i.fa(ng-show="ctrl.grid.propertyName === 'quantity_purchased'" ng-class="!ctrl.grid.reverse ? 'fa-sort-amount-asc' : 'fa-sort-amount-desc'")
		.container-table(flex)
			table.product-info-table.table(name='clementino')
				tbody
					tr(ng-repeat='p in ctrl.result | orderBy:ctrl.grid.propertyName:ctrl.grid.reverse' layout='row' ng-class="{'inactive':p.product_active=='N', 'sold-out': p.product_stock <= 0}")
						td {{::p.company_code}}
						td {{::p.product_code}}
						td {{::p.product_name}}
						td {{::p.unit.unit_format == "I" ? (p.product_stock | number:'0') : p.product_stock}} ({{p.unit_initials}})
						td {{::p.unit_format == "I" ? (p.quantity_purchased | number:'0') : p.quantity_purchased}} ({{p.unit_initials}})

	div(layout='column')
		.bar
			md-toolbar
				.md-toolbar-tools(layout='row')
					.text-right(flex='100')
						.legend.inactive
							i.fa.fa-stop
							| Inativo

						.legend.sold-out
							i.fa.fa-stop
							| Sem estoque


.footer(layout='row' layout-align='end center')
	md-button.md-raised(ng-click='ctrl._cancel()')
		| &nbsp; Fechar &nbsp;