.body(layout='column')
	div(layout='row' layout-align='start center')
		md-icon.sign(md-font-set='material-icons' flex='10') info
		p Por favor informe qual empresa será utilizada neste orçamento.
	md-input-container.md-icon-float
		md-select(name='type' ng-model='ctrl.company' ng-model-options='{ trackBy: $value.company_id }')
			md-option(ng-value='c' ng-repeat='c in ctrl.companies') 
				| {{c.company_erp.company_code}} - {{c.company_erp.company_name}}

.footer(layout='row' layout-align='end center')
	md-button.md-primary(ng-click='ctrl._close(ctrl.company)')
		| &nbsp; Confirmar &nbsp;