.irineu(layout='row' layout-align='start center' layout-fill)
	i.fa.fa-id-card-o
	span Informações do Cliente

.body(layout='column')
	.well.well-receivables(style="margin-bottom:10px")
		| {{ctrl.client_code}} - {{ctrl.client_name}}
	
	div(ng-include='"./partials/customer-receivables.html"')

.footer(layout='row' layout-align='end center')
	md-button.md-primary.md-raised(ng-click='ctrl._close()')
		| &nbsp; Fechar &nbsp;