md-toast.custom-toast(layout='row')
	.logo(flex='30')
		div
	.info(flex layout='column')
		span.md-title {{ctrl.title}}
		span.md-subhead(ng-bind-html='ctrl.message | trusted')

		.offset-top-15(layout='row' layout-align='end end')
			md-button.md-primary(ng-click='ctrl.close()') Fechar

//- md-toast.custom-toast(layout='row')
	.logo(flex='30')
		div
	.info(flex layout='column')
		span.md-title {{ctrl.title}}
		span.md-subhead(ng-bind-html='ctrl.message | trusted')

		.offset-top-15(layout='row' layout-align='start end')
			md-button.md-primary(ng-click='ctrl.close()') Atualizar
			span(flex='10')
			md-button.md-primary(ng-click='ctrl.close()') Depois