md-toast.custom-toast(layout='row')
	.logo(flex='30')
		div
	.info(flex layout='column')
		span.md-title {{ctrl.title}}
		span.md-subhead(ng-bind-html='ctrl.message | trusted')

		.offset-top-15(layout='row' layout-align='start end')
			md-button.md-primary(name='positive-button' ng-click='ctrl.positiveButton.action()' ng-if='!!ctrl.positiveButton') {{ctrl.positiveButton.label}}
			
			span(flex='10' ng-if='!!ctrl.positiveButton')
			span(flex ng-if='!ctrl.positiveButton')

			md-button.md-primary(name='negative-button' ng-click='ctrl.close()') Fechar