style.
	.silhouette {
		height: 240px;
		margin-top: 32px;
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		opacity: .7;
	}

#camera(style='width: 320px; height: 240px; background: #000' ng-if='!ctrl.result')
img.silhouette(src='./images/person_silhouette.png')

img(ng-src='{{ctrl.result}}' style='width: 320px; height: 240px; background: #000' ng-if='ctrl.result')

md-button.md-primary(ng-click='ctrl.capture()' ng-if='!ctrl.result' ng-disabled='!ctrl.camEnabled()') Capturar
md-button.md-primary(ng-click='ctrl.retake()' ng-if='ctrl.result') Tirar outra
md-button.md-primary(ng-click='ctrl.upload()' ng-if='!ctrl.result') Fazer upload
md-button.md-primary(ng-click='ctrl.confirm()' ng-disabled='!ctrl.result') Confirmar

input#open-dialog(type='file' style='visibility: hidden; position: absolute' file-read='ctrl.watchFile')