.about(flex layout='column')
	h1 Commercial - Gestor de Vendas
	h3 Versão {{version}}
	br
	brbr
	h2 Desenvolvido por:
	h2 Futura Agência 
	h3 
		a(href='http://www.futuraagencia.com.br' target='_blank' style='color: white') www.futuraagencia.com.br
	br
	br
	br
	br
	h3 Data de liberação
	h4 12/12/2017
