.connections(flex layout='column')

	.form-container#api
		.form
			md-subheader
				i.fa.fa-wrench
				| API

			div(flex)
				
				dl
					dt 
						| Nome
					dd
						input(type='text' ng-model='connections.internal.api.name')

					dt 
						| URL
					dd
						input(type='text' ng-model='connections.internal.api.url')

					dt 
						| Token
					dd
						textarea(ng-model='connections.internal.api.token')

					dt

					dd
						md-button.md-raised.md-primary(ng-click='' style='margin-left: 0')
							i.fa.fa-floppy-o &nbsp;
							| Salvar	
						
						md-button.md-raised.text-primary(ng-click='')
							i.fa.fa-retweet &nbsp;
							| Testar