//- payment > authorized_payments
//- credit_limit > authorized_modality_id && debit_day_limit
//- bank

.financial(layout='column' flex)

	.form-container#payments
		.form
			md-subheader
				i.fa.fa-wrench
				| Pagamento

			div(layout='column')
					
				dl
					dt 
						| Pagamentos autorizados
					dd
						input(type='text' ng-model='financial.internal.payment.authorized')

					dt

					dd
						md-button.md-raised.md-primary(ng-click='financial.postPayment()' style='margin-left: 0')
							i.fa.fa-floppy-o &nbsp;
							| Salvar

	.form-container#credit
		.form
			md-subheader
				i.fa.fa-wrench
				| Crédito

			div(layout='column')
					
				dl
					dt 
						| Natureza de lançamento
					dd
						input(type='text' ng-model='financial.internal.credit.entryId')

					dt 
						| Modalidade
					dd
						input(type='text' ng-model='financial.internal.credit.modalityId')

					dt 
						| Tipo de baixa parcial
					dd
						input(type='text' ng-model='financial.internal.credit.partialDrop')

					dt 
						| Tipo de baixa total
					dd
						input(type='text' ng-model='financial.internal.credit.totalDrop')

					dt

					dd
						md-button.md-raised.md-primary(ng-click='financial.postCredit()' style='margin-left: 0')
							i.fa.fa-floppy-o &nbsp;
							| Salvar

	.form-container#credit-limit
		.form
			md-subheader
				i.fa.fa-wrench
				| Limite de crédito

			div(layout='column')
					
				dl
					dt 
						| Modalidades autorizadas
					dd
						input(type='text' ng-model='financial.internal.creditLimit.authorized')

					dt 
						| Máx. de dias em débito
					dd
						input(type='text' ng-model='financial.internal.creditLimit.debitLimit')

					dt

					dd
						md-button.md-raised.md-primary(ng-click='financial.postCreditLimit()' style='margin-left: 0')
							i.fa.fa-floppy-o &nbsp;
							| Salvar

	.form-container#bank
		.form
			md-subheader
				i.fa.fa-wrench
				| Banco

			div(layout='column')
					
				dl
					dt 
						| Bancos permitidos
					dd
						input(type='text' ng-model='financial.internal.bank.authorized')

					dt

					dd
						md-button.md-raised.md-primary(ng-click='financial.postBank()' style='margin-left: 0')
							i.fa.fa-floppy-o &nbsp;
							| Salvar