.general(flex layout='column')

	.form-container
		.form#system()
			md-subheader
				i.fa.fa-wrench
				| Pedido

			div(layout='column')
					
				dl
					dt 
						| Id do tipo de comissão
					dd
						input(type='text' ng-model='general.internal.order.commissionTypeId')

					dt 
						| Status do DAV
					dd
						input(type='text' ng-model='general.internal.order.davStatus')

					dt 
						| Tipo do DAV
					dd
						input(type='text' ng-model='general.internal.order.davType')

					dt 
						| Prazo de entrega
					dd
						input(type='text' ng-model='general.internal.order.deadline')

					dt 
						| Tipo da entrega
					dd
						input(type='text' ng-model='general.internal.order.deliveryType')

					dt 
						| Id da mensagem
					dd
						input(type='text' ng-model='general.internal.order.messageId')

					dt 
						| Operação
					dd
						input(type='text' ng-model='general.internal.order.operationId')

					dt 
						| Ordem de entrega
					dd
						input(type='text' ng-model='general.internal.order.operationOEId')

					dt 
						| Entrega agendada
					dd
						input(type='text' ng-model='general.internal.order.scheduleDelivery')

					dt 
						| Status
					dd
						input(type='text' ng-model='general.internal.order.status')

					dt 
						| ID de sistema
					dd
						input(type='text' ng-model='general.internal.order.systemId')

					dt 
						| Nome de sistema
					dd
						input(type='text' ng-model='general.internal.order.systemName')

					dt 
						| Tipo
					dd
						input(type='text' ng-model='general.internal.order.type')

					dt 
						| ID de usuário
					dd
						input(type='text' ng-model='general.internal.order.userId')

					dt 
						| Nome de usuário
					dd
						input(type='text' ng-model='general.internal.order.userName')

					dt

					dd
						md-button.md-raised.md-primary(ng-click='general.postOrder()' style='margin-left: 0')
							i.fa.fa-floppy-o &nbsp;
							| Salvar

	.form-container
		.form#person-category
			md-subheader
				i.fa.fa-wrench
				| Categorias de pessoa

			div(layout='column')
					
				dl
					dt 
						| ID de cliente
					dd
						input(type='text' ng-model='general.internal.personCategory.customerId')

					dt 
						| ID de vendedor
					dd
						input(type='text' ng-model='general.internal.personCategory.sellerId')

					dt

					dd
						md-button.md-raised.md-primary(ng-click='general.postCategory()' style='margin-left: 0')
							i.fa.fa-floppy-o &nbsp;
							| Salvar

	.form-container
		.form#price
			md-subheader
				i.fa.fa-wrench
				| Preço

			div(layout='column')
					
				dl
					dt 
						| ID da tabela padrão
					dd
						input(type='text' ng-model='general.internal.price.defaultId')

					dt

					dd
						md-button.md-raised.md-primary(ng-click='general.postPrice()' style='margin-left: 0')
							i.fa.fa-floppy-o &nbsp;
							| Salvar

	.form-container
		.form#product-code
			md-subheader
				i.fa.fa-wrench
				| Tipos de código de produto

			div(layout='column')
					
				dl
					dt 
						| ID cód. principal
					dd
						input(type='text' ng-model='general.internal.productCodes.mainId')

					dt 
						| ID cód. de barras
					dd
						input(type='text' ng-model='general.internal.productCodes.eanId')

					dt 
						| ID cód. do fornecedor
					dd
						input(type='text' ng-model='general.internal.productCodes.providerId')

					dt

					dd
						md-button.md-raised.md-primary(ng-click='general.postProductTypes()' style='margin-left: 0')
							i.fa.fa-floppy-o &nbsp;
							| Salvar

	.form-container
		.form#contact-mail
			md-subheader
				i.fa.fa-wrench
				| Email

			div(layout='column')
					
				dl
					dt 
						| ID do contato
					dd
						input(type='text' ng-model='general.internal.mail.typeId')

					dt

					dd
						md-button.md-raised.md-primary(ng-click='general.postEmail()' style='margin-left: 0')
							i.fa.fa-floppy-o &nbsp;
							| Salvar

	.form-container
		.form#services
			md-subheader
				i.fa.fa-wrench
				| Serviços

			div(layout='column')
					
				dl
					dt 
						| Pedidos por SincExport.
					dd
						input(type='text' ng-model='general.internal.services.syncQuantityExported' number-only)
						small (Quantidade de pedidos por sincronização de pedidos exportados)

					dt 
						| Intervalo do SincExport.
					dd
						input(type='text' ng-model='general.internal.services.syncTimeExported' number-only)
						small (Intervalo de sincronização de pedidos exportados em MINUTOS)

					dt 
						| Pedidos por SincFat.
					dd
						input(type='text' ng-model='general.internal.services.syncQuantityBilled' number-only)
						small (Quantidade de pedidos por sincronização de pedidos faturados)

					dt 
						| Intervalo do SincFat.
					dd
						input(type='text' ng-model='general.internal.services.syncTimeBilled' number-only)
						small (Intervalo de sincronização de pedidos faturados em MINUTOS)

					dt

					dd
						md-button.md-raised.md-primary(ng-click='general.postServices()' style='margin-left: 0')
							i.fa.fa-floppy-o &nbsp;
							| Salvar