.general(flex layout='column')

	.form-container
		.form#system()
			md-subheader
				i.fa.fa-wrench
				| Sistema

			div(layout='column')
					
				dl
					dt 
						| ID de sistema
					dd
						input

					dt 
						| Nome
					dd
						input

					dt

					dd
						md-button.md-raised.md-primary(ng-click='' style='margin-left: 0')
							i.fa.fa-floppy-o &nbsp;
							| Salvar

	.form-container
		.form#user
			md-subheader
				i.fa.fa-wrench
				| Usuário

			div(layout='column')
					
				dl
					dt 
						| ID de usuário
					dd
						input

					dt 
						| Nome
					dd
						input

					dt

					dd
						md-button.md-raised.md-primary(ng-click='' style='margin-left: 0')
							i.fa.fa-floppy-o &nbsp;
							| Salvar

	.form-container
		.form#person-category
			md-subheader
				i.fa.fa-wrench
				| Categorias de pessoa

			div(layout='column')
					
				dl
					dt 
						| ID de cliente
					dd
						input

					dt 
						| ID de vendedor
					dd
						input

					dt

					dd
						md-button.md-raised.md-primary(ng-click='' style='margin-left: 0')
							i.fa.fa-floppy-o &nbsp;
							| Salvar

	.form-container
		.form#price
			md-subheader
				i.fa.fa-wrench
				| Preço

			div(layout='column')
					
				dl
					dt 
						| ID da tabela padrão
					dd
						input

					dt

					dd
						md-button.md-raised.md-primary(ng-click='' style='margin-left: 0')
							i.fa.fa-floppy-o &nbsp;
							| Salvar

	.form-container
		.form#product-code
			md-subheader
				i.fa.fa-wrench
				| Tipos de código de produto

			div(layout='column')
					
				dl
					dt 
						| ID cód. principal
					dd
						input

					dt 
						| ID cód. de barras
					dd
						input

					dt 
						| ID cód. do fornecedor
					dd
						input

					dt

					dd
						md-button.md-raised.md-primary(ng-click='' style='margin-left: 0')
							i.fa.fa-floppy-o &nbsp;
							| Salvar

	.form-container
		.form#contact-mail
			md-subheader
				i.fa.fa-wrench
				| Email

			div(layout='column')
					
				dl
					dt 
						| ID do contato
					dd
						input

					dt

					dd
						md-button.md-raised.md-primary(ng-click='' style='margin-left: 0')
							i.fa.fa-floppy-o &nbsp;
							| Salvar