.people(flex layout='column')

	.form-container
		.form#attributes()
			md-subheader
				i.fa.fa-wrench
				| Características

			div(layout='column')
					
				dl
					dt 
						| xxx
					dd
						input(type='text')

					dt

					dd
						md-button.md-raised.md-primary(ng-click='' style='margin-left: 0')
							i.fa.fa-floppy-o &nbsp;
							| Salvar