/*
 * @Author: egmfilho &lt;egmfilho@live.com&gt; 
 * @Date: 2017-11-08 08:45:51 
 * @Last Modified by: egmfilho
 * @Last Modified time: 2017-11-29 09:30:52
 */

.companies {

	.logo-preview {
		width: auto;
		min-width: 100px;
		height: 100px;
	}

	.open-file-input {
		input[type='file'] {
			display: none;
		}

		input:read-only {
			border: 1px solid #ccc;
			background-color: #eee;
			
			&:hover {
				cursor: pointer;
			}
		}

		button {
			height: 33px;
			background-color: $secondary-color;
			color: white;
			border: none;
			vertical-align: top;
			border-radius: 0;
		}
	}

	.discount {
		input {
			&:nth-child(1) {
				margin-right: 15px;
				min-width: 140px;
				max-width: 140px;
			}

			&:nth-child(2) {
				margin-left: 15px;
				min-width: 40px;
				max-width: 40px;
			}
		}

		button {
			font-size: 18px;
			vertical-align: initial;
		}
	}

}