/*
 * @Author: egmfilho &lt;egmfilho@live.com&gt; 
 * @Date: 2017-11-08 08:45:51 
 * @Last Modified by: egmfilho
 * @Last Modified time: 2017-11-27 13:13:22
 */

.companies {

	.logo-preview {
		width: auto;
		min-width: 100px;
		height: 100px;
	}

	.open-file-input {
		input[type='file'] {
			display: none;
		}

		input:read-only {
			border: 1px solid #ccc;
			background-color: #eee;
			
			&:hover {
				cursor: pointer;
			}
		}

		button {
			height: 33px;
			background-color: $secondary-color;
			color: white;
			border: none;
			vertical-align: top;
			border-radius: 0;
		}
	}

}