/*
 * @Author: egmfilho <egmfilho@live.com>
 * @Date:   2017-08-01 08:42:58
 * @Last Modified by: egmfilho
 * @Last Modified time: 2018-01-19 09:35:24
 */

.users {	
	.users-table-header-container, .profiles-table-header-container {
		padding-top: 14px;
		padding-right: 10px;		
		background-color: white;
		box-shadow: 0 2px 4px rgba(#000, .3);
		z-index: 0;
	}

	.container-table {
		height: 300px;
		border: none;
		z-index: -1px;
	}

	.fa-sort, .fa-sort-up, .fa-sort-down {
		font-size: 14px;
		margin-right: 4px;
	}

	.fandangos {
		opacity: .3;
	}

	.users-table, .profiles-table {
		tr {
			th {
				// background-color: #ddd;
				cursor: pointer;
			}

			border-bottom: 1px solid #ddd;

			&:last-child {
				border-bottom: none;
			}
		}
	}

	.users-table {
		tr {
			th, td {
				&:nth-child(1) {
					width: 100px;
				}

				&:nth-child(2) {
					width: auto;
				}

				&:nth-child(3) {
					width: 100px;
				}

				&:nth-child(4) {
					width: 200px;
					word-break: break-all;
					white-space: normal;
					overflow: hidden;
				}

				&:nth-child(5) {
					width: 115px;
				}

				&:nth-child(6) {
					width: 24px;
				}
			}
		}
	}

	.profiles-table {
		tr {
			th, td {
				&:nth-child(1) {
					width: auto;
				}

				&:nth-child(2), &:nth-child(3) {
					width: 25%;
				}

				&:nth-child(4), &:nth-child(5) {
					width: 30px;
				}
			}
		}
	}

	.search-container {
		position: absolute;
		bottom: 0;
		right: 10px;
		width: 100%;
		z-index: 0;
		transition: bottom .3s;
		overflow-x: hidden; // para esconder a sombra q fica do lado direito (aparecia em cima do scroll)
		padding-top: 2px;

		&.opened {
			bottom: 48px;
		}

		.search {
			background-color: white;
			padding: 5px;
			border-top-left-radius: 4px;
			box-shadow: 0 0 2px rgba(#000, .3);
			
			input {
				width: 280px;
				border: 1px solid $border-color;
				padding: 4px;
			}

			a {
				margin: 0 10px;
				margin-left: 12px;
				color: $main-color;
			}
		}
	}

	.users-table-footer, .profiles-table-footer {
		border-top: 1px solid #ddd;	
		background-color: white;
		z-index: 1;

		.search-button {
			margin-left: 0;
			padding-left: 0;

			.material-icons {
				font-size: 30px;
			}
		}
	}
}