/*
 * @Author: egmfilho <egmfilho@live.com>
 * @Date:   2017-08-01 08:42:58
 * @Last Modified by: egmfilho
 * @Last Modified time: 2017-11-27 14:17:42
 */

.users {	
	.users-table-header-container, .profiles-table-header-container {
		padding-top: 14px;
		padding-right: 10px;		
		// background-color: #ddd;
		box-shadow: 0 2px 4px rgba(#000, .3);
		z-index: 0;
	}

	.container-table {
		height: 300px;
		border: none;
		z-index: -1px;
	}

	.users-table, .profiles-table {
		tr {
			th {
				// background-color: #ddd;
			}

			border-bottom: 1px solid #ddd;

			&:last-child {
				border-bottom: none;
			}
		}
	}

	.users-table {
		tr {
			th, td {
				&:nth-child(1) {
					width: 100px;
				}

				&:nth-child(2) {
					width: auto;
				}

				&:nth-child(3) {
					width: 120px;
				}

				&:nth-child(4) {
					width: 300px;
				}

				&:nth-child(5) {
					width: 115px;
				}

				&:nth-child(6) {
					width: 30px;
				}
			}
		}
	}

	.profiles-table {
		tr {
			th, td {
				&:nth-child(1) {
					width: auto;
				}

				&:nth-child(2), &:nth-child(3) {
					width: 25%;
				}

				&:nth-child(4), &:nth-child(5) {
					width: 30px;
				}
			}
		}
	}

	.users-table-footer, .profiles-table-footer {
		border-top: 1px solid #ddd;	
	}
}