/*
 * @Author: egmfilho <egmfilho@live.com>
 * @Date:   2017-08-01 10:09:41
 * @Last Modified by: egmfilho
 * @Last Modified time: 2017-10-20 17:10:56
 */

.connections {

	.content {
		.form {
			.icon-input {
				.fa {
					font-size: 20px;
					margin: 0 8px;
					padding-top: 20px;
					color: $main-color; 
				}

				md-input-container {
					height: 40px;
					margin-bottom: 0;
				}
			}
		}
	}
}