md-content.login(flex)
	.cover
	.picture


	div(layout='column' layout-align='center center' layout-fill)
		.logo
		md-card(style='width: 300px')
			md-card-content
				form(name='LoginForm' layout='column' ng-submit='login.submitForm()')
					md-input-container
						label Nome de Usuário
						input(type='text' name='user' ng-model='login.user' keys-shortcuts enter='login.advance()' required)
						div(ng-messages='LoginForm.user.$error' role='alert' multiple)
							div(ng-message='required') Informe o nome de usuário.
					
					md-input-container
						label Senha
						input(type='password' name='pass' ng-model='login.pass' md-maxlength='16' required)
						div(ng-messages='LoginForm.pass.$error' role='alert' multiple)
							div(ng-message='required') Informe a senha.
							div(ng-message='md-maxlength') Senha muito longa.
					
					//- md-input-container
						md-select(name='select-api' ng-model='selectedApi' placeholder='API' required md-no-asterisk='false')
							md-option(ng-value='api' ng-repeat='api in arrayApi') {{api.name}}

					md-button.md-raised.md-primary.offset-top-30(type='button' ng-click='login.selectApi()')
						| &nbsp; Escolher API &nbsp;

					md-button.md-raised.md-primary.offset-top-30(ng-disabled='!LoginForm.$valid' type='submit')
						| &nbsp; Login &nbsp;
		.lost-pass
			a(href='' ng-click='login.forgottenPassword()') Esqueci a senha

	.ver 
		span Versão {{version}}

	.sign 
		a(href='') Futura Agência - 2017