.chico-bento
	.form
		.header.hidden-on-print
			| Enviar por email
		
		.body.hidden-on-print

			table
				tr
					td Para: 
					td
						.box(ng-click='ctrl.focusSearchInput()')
							md-chips(ng-model='ctrl.form.to' md-autocomplete-snap md-transform-chip='ctrl.internal.newContact($chip)' md-require-match='false' md-add-on-blur='true')
								md-autocomplete(md-selected-item='ctrl.internal.selectedItem'
										md-search-text='ctrl.internal.searchText'
										md-items='item in ctrl.internal.querySearch(ctrl.internal.searchText)'
										md-item-text='item.email'
										placeholder='Informe os destinatários')
									span(md-highlight-text='ctrl.internal.searchText') 
										| {{item.name}} ({{item.mail}})
								md-chip-template
									span
										strong {{$chip.mail}} &nbsp;
										em ({{$chip.name}})

				tr
					td Assunto: 
					td 
						input.box(name='subject' ng-model='ctrl.form.subject')

				tr
					td.message Mensagem:
					td
						textarea.box(name='message' ng-model='ctrl.form.message')

				tr
					td
					td
						.footer.clearfix
							.attachment
								i.material-icons attach_file
								b Anexo: &nbsp;
								span(ng-show='ctrl.order.order_code')
									i.fa.fa-file-pdf-o &nbsp;
									| Orçamento_{{ctrl.order.order_code}}.pdf 
								span(ng-hide='ctrl.order.order_code')
									| Carregando...

							.send
								md-button.md-raised.md-primary(ng-click='ctrl.send()')
									i.material-icons send
									| Enviar

		.preview(ng-if='ctrl.order.order_code')
			.preview-header.hidden-on-print(layout='row' layout-align='start center')
				span Pré-Visualização: &nbsp;
				span Orçamento_{{ctrl.order.order_code}}.pdf

				span(flex)

				md-button.md-icon-button.md-raised(ng-click='zoomOut()')
					md-icon(md-icon-set='material-icons' style='font-size: 24px') zoom_out

				md-button.md-icon-button.md-raised(ng-click='zoomIn()')
					md-icon(md-icon-set='material-icons' style='font-size: 24px') zoom_in

			.print-container
				div(ng-include='"./views/print-order.html"')