md-content.open-order-container(layout-fill)

	md-card.card(ng-repeat='o in openOrder.orders')
		md-card-content(layout='row')
			.icon(flex='15' layout='column' layout-align='center center')
				//- md-icon.done(md-font-set='material-icons') cloud_done
				md-icon.upload(md-font-set='material-icons') cloud_upload
				span.subtitle Não exportado

			.description(flex layout='column')
				span.md-title
					a(ng-href='#/order/edit?code={{o.order_code}}') {{o.order_code}} - {{o.order_company.company_name}}

				table
					tr
						td Vendedor: 
						td {{o.order_seller.person_code}} - {{o.order_seller.person_name}}
					tr
						td Cliente:
						td {{o.order_client.person_code}} - {{o.order_client.person_name}}
					tr
						td Total:
						td {{o.order_value | currency : 'R$ '}} 

				div(layout='row')
					span.md-title
						a(ng-href='#/order/edit?code={{o.order_code}}') Recuperar

					span(flex='5')

					span.md-title
						a(ng-click='openOrder.print(o.order_code)') Imprimir

					span(flex='5')

					span.md-title
						a(ng-click='openOrder.savePDF(o.order_code)') Salvar PDF