md-content.order-cupon.zoom-50(ng-if='ctrl.order.order_code' layout='row')
	
	md-button.md-fab.floating(ng-click='ctrl.print()')
		md-icon(md-font-icon='fa fa-envelope-o' ng-if='ctrl.isPdf')
		md-icon(md-font-icon='fa fa-print' ng-if='!ctrl.isPdf')

	.cupon
		.header(layout='column')
			.company(flex layout='column' layout-align='start center')
				.md-block 
					.name {{::ctrl.order.order_company.company_name}}
			
			.info(layout='row' layout-align='center')
				.md-block.text-left(flex='50')
					| {{::now | date:'dd/MM/yyyy HH:mm:ss'}}
				.md-block.text-right(flex='50')
					| COMMERCIAL {{::version}}

			.offset-top-15(layout='column')
				.md-block CLIENTE: {{::ctrl.order.order_client.person_code}} {{::ctrl.order.order_client.person_name}}
				.md-block VENDEDOR: {{::ctrl.order.order_seller.person_code}} - {{::ctrl.order.order_seller.person_name}}

		.body 
			.md-headline.text-center.offset-top-15
				| {{ctrl.order.order_export_type == 'dav' ? 'DAV' : 'PEDIDO'}}: {{ctrl.order.order_code_erp}}
			.title.offset-top-15
				.md-block.text-center
					| ORÇAMENTO N&#186;: {{::ctrl.order.order_code}}

			.payment(ng-if='ctrl.order.order_payments.length')
				table
					tbody
						tr(ng-repeat='i in ctrl.order.order_payments')
							td 
								.title {{::i.order_payment_installment}}X
							td 
								.title {{::i.modality.modality_description}}
							td 
								.title {{::i.order_payment_deadline | date:'dd/MM/yyyy'}}
							td.text-right 
								.title {{::i.order_payment_value | currency:'R$ '}}