div(ng-bind-html='ctrl.template | trusted' ng-if='ctrl.template')

md-content.print-order.zoom-50(layout-fill ng-if='ctrl.order.order_code && !ctrl.template')
	md-button.md-fab.floating(name='print-button' ng-click='ctrl.print()')
		md-icon(md-font-icon='fa fa-file-pdf-o' ng-if='ctrl.isPdf')
		md-icon(md-font-icon='fa fa-print' ng-if='!ctrl.isPdf')

	.header(layout='row')
		.logo(flex='15' layout='column' layout-align='center center')
			img(ng-src='{{::ctrl.logo}}')
		
		.company(flex layout='row' layout-align='start center')
			div
				.md-block 
					b {{::ctrl.order.order_company.company_name}}
				.md-block 
					| {{::ctrl.order.order_company.company_address.company_address_type}}
					| {{::ctrl.order.order_company.company_address.company_address_public_place}}
					| {{::ctrl.order.order_company.company_address.company_address_number}}
				.md-block 
					| {{::ctrl.order.order_company.company_address.company_address_district}} -
					| {{::ctrl.order.order_company.company_address.company_address_city}} -
					| {{::ctrl.order.order_company.company_address.company_address_uf}}
				.md-block 
					| {{::ctrl.order.order_company.company_phone}}
		
		.info(flex='30' layout='column' layout-align='center')
			.md-title
				div(ng-if='ctrl.order.order_code_erp') {{ctrl.order.order_export_type == 'dav' ? 'DAV' : 'Pedido'}}: {{ctrl.order.order_code_erp}}
			span(flex)
			.md-subhead
				| Orçamento n&#186;: {{::ctrl.order.order_code}}
			.md-subhead
				| Impresso em: {{::now | date:'dd/MM/yyyy HH:mm:ss'}}
			.md-subhead
				| Commercial versão {{::version}}

	.order-info
		table
			tr
				td(colspan='2')
					b Cliente: 
					b {{::ctrl.order.order_client.person_code}} - {{::ctrl.order.order_client.person_name}}
				td.text-right
					b CONTATO: 
					| {{::ctrl.order.order_client.person_address[0].getMainContact().person_address_contact_value}}
			tr
				td(colspan='3')
					b Endereço: 
					| {{::ctrl.order.order_client.person_address[0].person_address_type}} {{::ctrl.order.order_client.person_address[0].person_address_public_place}} {{::ctrl.order.order_client.person_address[0].person_address_number}}
					|  - 
					| {{::ctrl.order.order_client.person_address[0].district.district_name}}, 
					| {{::ctrl.order.order_client.person_address[0].city.city_name}} - {{::ctrl.order.order_client.person_address[0].city.uf_id}}
			tr
				td(colspan='2')
					b Vendedor: 
					| {{::ctrl.order.order_seller.person_code}} - {{::ctrl.order.order_seller.person_name}}

	table.print-table.products
		thead
			tr
				th PRODUTO
				th UND
				th QTD
				th VALOR
				th(colspan='2') DESCONTO
				th LÍQUIDO
				th(ng-if='ctrl.hasST') ST
				th TOTAL
		tbody
			tr(ng-repeat='i in ctrl.order.order_items' layout='row')
				td {{::i.product.product_code}} - {{i.product.product_name}}
				td {{::i.product.unit.unit_initials}}
				td {{::i.order_item_amount}}
				td {{::i.order_item_value_unitary | currency}}
				td {{::i.order_item_al_discount | currency:''}}%
				td {{::i.order_item_vl_discount | currency:'R$ '}}
				td {{::(i.order_item_value_total / i.order_item_amount) | currency:'R$ '}}
				td(ng-if='ctrl.hasST') {{::i.order_item_value_st | currency:'R$ '}}
				td {{::i.order_item_value_total | currency:'R$ '}}

	.offset-top-15(layout='row')
		.besouro(flex='60')
			.delivery-address(flex='50' style='padding-right: 16px;')
				table.print-table(style='width: 100%')
					thead
						tr
							th ENDEREÇO DE ENTREGA
					tr
						td 
							b ENDEREÇO: 
							| {{::ctrl.order.address_delivery.person_address_type}} {{::ctrl.order.address_delivery.person_address_public_place}} {{::ctrl.order.address_delivery.person_address_number}}
							|  - 
							| {{::ctrl.order.address_delivery.district.district_name}}, 
							| {{::ctrl.order.address_delivery.city.city_name}} - {{::ctrl.order.address_delivery.city.uf_id}}
							b &nbsp;|&nbsp;CONTATO: 
							| {{::ctrl.order.address_delivery.getMainContact().person_address_contact_value}}
			
			.summary(flex='50' style='padding-right: 16px;')
				table.print-table(style='width: 100%')
					thead
						tr
							th(colspan='2') VALORES
					tbody
						tr
							td
								| VALOR BRUTO
							td
								| {{::ctrl.order.order_value | currency:'R$ '}}
						tr
							td 
								| DESCONTO TOTAL
							td
								| {{::ctrl.order.order_vl_discount | currency:'R$ '}}
						tr(ng-if='ctrl.hasST')
							td
								| SUBSTITUIÇÃO TRIBUTÁRIA
							td
								| {{::ctrl.order.order_value_st | currency:'R$ '}}
						tr
							td
								| VALOR TOTAL
							td
								| {{::ctrl.order.order_value_total | currency:'R$ '}}
						tr(ng-if='ctrl.hasST')
							td
								| VALOR TOTAL COM ST
							td
								| {{::(ctrl.order.order_value_total+ctrl.order.order_value_st) | currency:'R$ '}}

			.note.offset-top-15 
				p
					b OBSERVAÇÕES - &nbsp;
					| {{::ctrl.order.order_note || 'Sem observações'}}
	
		div(layout='column' flex='40')
			table.print-table.borderless.payment(style='width: 100%')
				thead
					tr
						th.text-left(colspan='4') PAGAMENTO
							span.pull-right {{::ctrl.order.term.term_description}}
				tbody
					tr(ng-if='!ctrl.order.order_payments.length')
						td
							.text-center NENHUM PAGAMENTO INFORMADO
					tr(ng-repeat='i in ctrl.order.order_payments' layout='row')
						td
							.text-center {{::i.order_payment_installment}}x
						td {{::i.modality.modality_description}}
						td 
							.text-center {{::i.order_payment_value | currency:'R$ '}}
						td 
							.text-center {{::i.order_payment_deadline | date:'dd/MM/yyyy'}}

	.message
		p {{::globals('print-message')[ctrl.order.order_company_id].order_message}}