doctype html

html
	head
		block title
			title Commercial

		meta(name='format-detection' content='telephone=no')
		meta(name='viewport' content='width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(charset='utf-8')

		// Stylesheets
		link(rel='stylesheet' href='styles/vendor.min.css')
		link(rel='stylesheet' href='styles/main.css')

	body(ng-app='commercial2' ng-cloak)

		div(layout='column' layout-fill)
			header(ng-if='currentPath !== "/login"')
				md-toolbar
					.md-toolbar-tools
						md-button.md-icon-button
							md-icon(md-font-icon='fa fa-bars' aria-label='Menu')
						h2 Commercial
						span.flex
						md-button.md-icon-button
							md-icon(md-font-icon='fa fa-gear' aria-label='Ajustes')

			block page

			footer(ng-if='currentPath !== "/login"')
				md-toolbar
					div(layout='row' layout-align='center center' flex)
						| Futura Agência - 2017

		script(src='scripts/vendors.min.js')
		script(src='scripts/app.min.js')